.sporty .jm-tabswrap {
}
.sporty .jm-tabswrap div.jm-tab-content {	
	width: 95%;
}

/* JA Tabs top*/
.sporty .jm-tabs-title-top {
	height: 30px;
	position: relative;
	width: 70% !important;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title {
	width: 100%;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li {
	background: url(bg_tags.jpg) repeat-x left top;
	height:52px;
	float:left;
	border-right:1px solid #ddd;
	position:relative;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li:hover {background: url(bg_tags_hover.jpg) repeat-x left top;}

.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 + span { display:none;}
.sporty .jm-tabs-title-top ul.jm-tabs-title li.active h3 + span { 
	display:block;
	background: url(arrow_tags_active.png) no-repeat center bottom;
	position:absolute;
	height:11px;
	width:100%;
	margin-bottom:-11px;
	content:"";
	bottom:0;
}

.sporty.jm-tabswrap .tabs_content { padding-top:60px; margin-top:-20px; width:1080px; padding-left:9px; padding-right:0; margin-left:-8px !important;}


.sporty .jm-tabs-title-top ul.jm-tabs-title li.first,
.sporty .jm-tabs-title-top ul.jm-tabs-title li:first-child {
	border-left:1px solid #ddd;
	border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	 -webkit-border-bottom-left-radius:5px;
	  border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li.first.active,
.sporty .jm-tabs-title-top ul.jm-tabs-title li:first-child.active { border-left:none;}

.sporty .jm-tabs-title-top ul.jm-tabs-title li:last-child,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.last {
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	 -webkit-border-bottom-right-radius:5px;
	  border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-right:1px solid #ddd;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li:last-child.active,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.last.active { border-right: none; }


.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 {
	
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 span {
	padding:0 25px; 
	height:52px;
	font-size: 18px;
	line-height:52px;
	text-transform:uppercase;
	font-weight: bold !important;
	margin: 0;
	border-bottom: none;
	letter-spacing: normal;
	font-family: 'PT Sans', sans-serif;
	text-align:center;
	float:left;}

.sporty .jm-tabs-title-top ul.jm-tabs-title li.hover,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.firsthover,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.lasthover {
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li.active,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.firstactive,
.sporty .jm-tabs-title-top ul.jm-tabs-title li.lastactive {
	background: url(bg_tags_active.jpg) repeat-x;
	
}

.sporty .jm-tabs-title-top ul li.active h3 ,
.sporty .jm-tabs-title-top ul li.firstactive h3,
.sporty .jm-tabs-title-top ul li.lastactive h3 {
	color: #fff;
	text-shadow:1px 1px #630909;
}

/* JA Tabs left*/
.sporty .jm-tabs-title-left {
	position: relative;
	float: left;	
	height: 100%;
	background: #F5F4ED;
	margin-right: -1px;
	z-index: 1;
}

.sporty .jm-tabs-title-left ul.jm-tabs-title li {
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.sporty .jm-tabs-title-left ul.jm-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.sporty .jm-tabs-title-left ul li.active,
.sporty .jm-tabs-title-left ul li.firstactive,
.sporty .jm-tabs-title-left ul li.lastactive {
	background: #fff;
}

.sporty .jm-tabs-title-left ul li.active H3 ,
.sporty .jm-tabs-title-left ul li.firstactive H3,
.sporty .jm-tabs-title-left ul li.lastactive H3 {
	color: #006699;
}

.sporty .jm-tab-panels-left {
	left: 0;
	top: 0;
	background: url(dot.gif) repeat-y left top;
}
/* JA Tabs right*/
.sporty .jm-tabs-title-right {
	position: relative;
	float: right;	
	height: 100%;
	background: #F5F4ED;
	margin-right: -1px;
	z-index: 1;
}

.sporty .jm-tabs-title-right ul.jm-tabs-title li {
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.sporty .jm-tabs-title-right ul.jm-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.sporty .jm-tabs-title-right ul li.active,
.sporty .jm-tabs-title-right ul li.firstactive,
.sporty .jm-tabs-title-right ul li.lastactive {
	background: #fff;
}

.sporty .jm-tabs-title-right ul li.active H3 ,
.sporty .jm-tabs-title-right ul li.firstactive H3,
.sporty .jm-tabs-title-right ul li.lastactive H3 {
	color: #006699;
}

.sporty .jm-tab-panels-right {
	right: 0;
	top: 0;
	background: url(dot.gif) repeat-y right top;
}
/* JA Tabs bottom*/
.sporty .jm-tabs-title-bottom {
	width: 100%;
	bottom: 0px;
	height: 30px;
	z-index: 3;
}

.sporty .jm-tabs-title-bottom ul.jm-tabs-title {
	background: url(dot.gif) repeat-x left top;
	width: 100%;
}

.sporty .jm-tabs-title-bottom ul.jm-tabs-title li {
	background: none;
	border: 1px solid #C9C0B7;
	margin-left: 10px;
}

.sporty .jm-tabs-title-bottom ul.jm-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 20px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #F5F4ED;
	border-top: none;
	background: none;
	letter-spacing: normal;
	font-family: "Lucida Grande", Arial, sans-serif;
}

.sporty .jm-tabs-title-bottom ul.jm-tabs-title li.active,
.sporty .jm-tabs-title-bottom ul.jm-tabs-title li.firstactive,
.sporty .jm-tabs-title-bottom ul.jm-tabs-title li.lastactive {
	background: #FFFFFF;
	border-top: 1px solid #FFFFFF;	
}

.sporty .jm-tabs-title-bottom ul li.active h3 ,
.sporty .jm-tabs-title-bottom ul li.firstactive h3,
.sporty .jm-tabs-title-bottom ul li.lastactive h3 {
	color: #006699;
}