<?php 

$divid = 'jm-contain-'.rand().rand().time();
$classid = 'jm-products-slider-content'.rand().rand().time();
$_collectionSize = 0;
if($listall) $_collectionSize = $listall->count() ;
if($configs['autorun']){
	$configs['autorun'] = $configs['delaytime'];
}


?>

<?php if($_collectionSize){?>


<?php if(!defined('JM_ADD_SKIN_PRODUCTS_SILDER')){?>

<?php if ($configs['use_scrollerbar']){ ?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.customScroller-1.2.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.mousewheel.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jquery.wresize.js') ?>"></script>
<?php }else{ ?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/js/jcarousellite_1.0.1_custom.js') ?>"></script>
<?php } ?>

<?php  define('JM_ADD_SKIN_PRODUCTS_SILDER', true); ?>
<?php }?>

<script type="text/javascript">
	jQuery.noConflict();
<?php if ($configs['use_scrollerbar']){ ?>
	jQuery(window).bind("load", function(){
		jQuery(".<?php echo $classid; ?>").customScroller({width: <?php echo ($configs['itemwidth'])*($configs['number_items']);?>, height: <?php echo ($configs['itemheight']);?>});
	});
<?php }else{ ?>
	jQuery(document).ready(function($){
	    $("#<?php echo $divid?>").jCarouselLite({
			auto: <?php echo $configs['autorun']?>,
			speed: 			<?php echo $configs['animationtime']?>,
			visible: 		<?php echo $configs['number_items']?>,
			btnNext: "#jmmainwrap-<?php echo $divid?> .jm-next",
			btnPrev: "#jmmainwrap-<?php echo $divid?> .jm-prev",
			width: <?php echo $configs['number_items']*($configs['width']+10); ?>,
			width_img: <?php echo $configs['width']; ?>
		});
	});
	
<?php } ?>	
</script>
<?php }?>

<div class="block jm-products-slider-listing" id="jmmainwrap-<?php echo $divid?>">
	<?php if(isset($configs['title']) && $configs['title']!=''){?>
	<div class="block-title"><strong><span><?php echo $configs['title']?> </span></strong>
		<?php if (!$configs['use_scrollerbar']){ ?>
		<div class="jm-prev">
			<img class="jm-slide-left-img" title="Left direction" onmouseout="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left.png') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left-hover.png') ?>'" alt="Left direction" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-left.png') ?>"/>
		</div>
		<div class="jm-next">
			<img class="jm-slide-right-img" title="Right direction" onmouseout="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right.png') ?>'" onmouseover="this.src='<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right-hover.png') ?>'" alt="Right direction" src="<?php echo $this->getSkinUrl('joomlart/jmproductsslider/images/re-right.png') ?>"/>
		</div>
		<?php }?>
	</div>
	<?php }?>	

	<?php if($_collectionSize){?>
	
		  <div class="jm-products-slider-content clearfix block-content <?php echo $classid; ?>" > 
		  
		  	
		    <div id="<?php echo $divid?>" class="jm-slider" style="width: <?php echo $_collectionSize*($configs['itemwidth']);?>px; float: left; left: 0 !important;">		    		    	
		    	
		      	<ul class="jm-slider-ul">
		      					
						<?php foreach ($listall->getItems() as $_product){ 
                              
		                            $product = Mage::getModel('catalog/product')->load($_product->getId());
		                            $attribute = $product->getResource()->getAttribute('label');
		                            if(is_object($attribute)){
		                             
		                                $_options= $attribute->getSource()->getAllOptions(true, true);
		                                foreach($_options as $option){
		                                      if ($option['value'] == $product->getData("label")){
		                                        $class =  $option['label'];
		                                      }
		                                 }         
		                                 $attdefaultvalue = $attribute->getDefaultValue();
		                                 $attributeValue = Mage::getModel('catalog/product')->load($_product->getId())->getlabel();
		                                 $attributeValueName = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('label');
		                                     if(strlen($attributeValue) &&  ($attdefaultvalue !== $attributeValue)) { 
		                                         $labeltype = $class;   
		                                         $labelname = $attributeValueName;     
		                                         } 
		                                         else {
		                                         $labeltype = "";
		                                 } 
		                            }

							?>
		        			<li class="jm-slider-li" style="float: left;width:<?php echo $configs['itemwidth']; ?>px;height:<?php echo $configs['itemheight']; ?>px">
								<div class="item-slider">
									<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-image1">
										<?php if ($labeltype): ?>
						               <span class="<?php echo $labeltype; ?>-label label"> <?php echo $labelname;	?>
						               </span>		
					                 <?php endif; ?>
										<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->keepAspectRatio(TRUE)->resize($configs['width'], $configs['height'])->setWatermarkSize('30x10'); ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/> 
									</a>
									<?php if($_products = Mage::helper("jmcolorswatch")->getRelatedproducts($_product->getId())){  ?>
									<div class="productgaleries"> 
									<?php	
									
										?>
									         <?php foreach ($_products as $_item): 
                                                $_item = Mage::getModel('catalog/product')->load($_item->getId()); 
									         ?>
									            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(56,56) ?>" width="56" height="62" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
                                                
									         <?php endforeach; ?>
									 </div>         
									<?php } ?>
									       

									<br class="clear" />
									<a class="product-title" title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
										<?php echo $_product->getName() ?>
									</a>
									<?php if ($configs['show_price']) : ?>
									<br class="clear" />
									<?php echo $this->getPriceHtml($_product,true, '_jmslider') ?>
									<?php endif; ?>
									
									<?php echo $this->getReviewsSummaryHtml($_product, true, true)?>

									<?php if(($configs['show_desc']) && ($configs['max'])):?>
										<div class="jm-slider-desc">
											<?php echo substr($_product->getShortDescription(),0, ($configs['max']));?>
										</div>                                  
									<?php endif;?>
									<?php if ($configs['show_readmore']) : ?>
                                        <a class="product-title" title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
                                            <?php echo $this->__("Read more") ?>
                                        </a>
									<?php endif; ?>
									<div class="mass-button-actions">
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
											<div class="link-wishlist"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><?php echo $this->__('Wishlist') ?></a></div>
										<?php endif; ?>
										<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
											<div class="link-compare"><a href="<?php echo $_compareUrl ?>" class=""><?php echo $this->__('Compare') ?></a></div>
										<?php endif; ?>
										<?php if($configs['show_cart']){ ?>
											<?php if($_product->isSaleable()){ ?>
												<button class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
													<span><?php echo $this->helper("catalog")->__('Add to Cart') ?></span>
												</button>
											<?php } else { ?>
												<div class="out-of-stock"><span><?php echo $this->helper("catalog")->__('Out of stock') ?></span></div>
											<?php } ?>
										<?php } ?>
									</div>
								</div>
								<!--hover product-->
								<div class="mass-color"><div class="mass-color-inner"></div></div>
								<!--hover product-->
								
		        			</li> 
					<?php } ?> 
		      </ul>
		    </div>
		   </div>
	<?php } ?>
</div>