<?php 
$total_pages= $this->getData('total_pages');
$posts = $this->getPosts();
//print_r($posts->getData());
 ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
</div>



<?php echo $this->getChildHtml('smartwave_blog_comments_toolbar'); ?>
<div class="clearfix blog-head">
<h2>Kadi Ninda Blog</h2>

<?php /*?><?php
 $collection = Mage::getModel('blog/cat')
            ->getCollection()
            ->addStoreFilter(Mage::app()->getStore()->getId())
            ->setOrder('sort_order', 'asc')
        ;
        //echo $collection->getSelect();
        foreach ($collection as $item) {
           // $item->setAddress($this->getBlogUrl(array(self::$item->getIdentifier(), $item->getIdentifier())));
        }
if($collection->count()>0)
{
    ?>
    <div class="cat-items pull-right">  
        <ul class="clearfix"> 
            <?php
            foreach($collection as $item)
            {
                //echo $item->getIdentifier();
                ?>
                <li><a href="<?php echo $this->getBlogUrl().'cat/'.$item->getIdentifier()?>"><?php echo $item->getIdentifier();?></a></li>
            <?php } ?>
            </ul>
</div>
<?php } ?><?php */?>

</div>
<div class="posts-wrap clearfix">
<?php

// function array_sort_by_column(&$array, $column, $direction = SORT_DESC) {
// function array_sort_by_column(&$array, $column, $direction = SORT_DESC) {
//     $reference_array = array();

//     foreach($array as $key => $row) {
//         $reference_array[$key] = strtotime($row[$column]);
//     }
//     array_multisort($reference_array, SORT_DESC, $array);
// }

//array_multisort($posts, SORT_DESC, 'created_time');


 foreach ($posts as $post): 
    //echo $post['created_time'];
//print_r($post);
    ?>
    <div class="postWrapper col-lg-4 col-md-4 col-sm-3 col-xs-12">
        <div class="postBanner hide">
        </div>
        <?php
            $orig_data = $post->getData('created_time');
            $oldLocale = setlocale(LC_COLLATE, "0");
            setlocale(LC_ALL, Mage::app()->getLocale()->getLocaleCode().'.UTF-8');
            $post_day = strftime("%d", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
            $post_month = strftime("%b", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
            setlocale(LC_ALL, $oldLocale);
        ?>
       
       
         <div class="postImage">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post->getSmallImage(); ?>"></a></h2>
        </div>

        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
        </div>
        <span class="user-name"><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></span>
        <div class="postContent">
        
        <?php echo $post->getShortContent(); ?>
        
        <a class="aw-blog-read-more" href="<?php echo Mage::getBaseUrl().'news/'.$post->getIdentifier();?>">Read More</a>

        </div>

       <?php /*?> <div class="postDetails">
          <span><i class="icon-calendar"></i><?php echo $post->getCreatedTime(); ?></span>
            <span><i class="icon-user"></i><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></span>
            <span><i class="icon-tag"></i><?php echo $this->getTagsHtml($post) ?></span>
            <?php if ($this->getCommentsEnabled()): ?>
                <span><i class="icon-chat"></i><a href="<?php echo $post->getAddress(); ?>#commentBox" ><?php echo $post->getCommentCount(); ?> Comments</a></span>
            <?php endif; ?>
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <span><i class="icon-folder-open"></i>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a><span class="last">,</span>
                <?php endforeach; ?>
                </span>
            <?php endif; ?>
        </div><?php */?>
        <?php echo $this->getBookmarkHtml($post) ?>
    </div>
<?php endforeach; ?>
</div>
<?php echo $this->getChildHtml('smartwave_blog_comments_toolbar'); ?>
<div class="clearfix"></div>

<div class="clearfix dc" >
    <ul class="pagination">
    
    <?php 
for ($i=1; $i<=$total_pages; $i++) { 
?>
<li>
<a href="<?php echo Mage::getBaseUrl().'blog/?page='.$i?>"><?php echo $i;?></a>
</li>
  <?php         
}
?>
</ul>
</div>

<?php
if ($i < 3) {

?>
<script type="text/javascript">
    jQuery(".pagination").css('display','none');
</script>
<?php
}
?>
