<?php
$resource = Mage::getSingleton('core/resource');
$readConnection = $resource->getConnection('core_read');
 $post = $this->getPost(); 
 $pid =  $post->getData('post_id');
 $tags[] =  $post->getData('product_tags');
 
 ?>
<div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="clearfix row">

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 post-view">
<div class="post-view postWrapper">
    <div class="postBanner hide">
    </div>
    <?php
        $orig_data = $post->getData('created_time');
        $oldLocale = setlocale(LC_COLLATE, "0");
        setlocale(LC_ALL, Mage::app()->getLocale()->getLocaleCode().'.UTF-8');
        $post_day = strftime("%d", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
        $post_month = strftime("%b", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
        setlocale(LC_ALL, $oldLocale);
    ?>
    <?php /*?><div class="post-date">
        <span class="day"><?php echo $post_day; ?></span>
        <span class="month"><?php echo $post_month; ?></span>
    </div><?php */?>
    <div class="blogPageImage">
            <h2><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post->getFilePath(); ?>"></h2>
            <!-- <a href="<?php //echo $post->getAddress(); ?>" -->
        </div>
    <div class="postTitle">
        <h2><?php echo $post->getTitle(); ?></h2>
        <div class="postDetails">
            <span><i class="icon-calendar"></i><?php echo $post->getCreatedTime(); ?></span>
            <span><i class="icon-user"></i><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></span>
           
            <?php if ($this->getCommentsEnabled()): ?>
                <span><i class="icon-chat"></i><a href="<?php echo $post->getAddress(); ?>#commentBox" ><?php echo $post->getCommentCount(); ?> Comments</a></span>
            <?php endif; ?>
        </div>
    </div>
    <div class="postContent"><?php echo $post->getPostContent(); ?></div>
    <?php
    $share_links = $this->getBookmarkHtml($post);
    if ($share_links) :
    ?>
    <div class="post-share">
        <h3><i class="icon-forward"></i><?php echo $this->__("Share this post"); ?></h3>
        <?php echo $share_links ?>
    </div>
    <?php endif; ?>
</div>

<!-- Comment Section -->

<div class="postComments">
<?php if ($this->getCommentsEnabled()): ?>
    <?php $comments = $this->getComment(); ?>
    <div class="postTitle"><a name="commentBox" ></a>
        <h2><i class="icon-chat"></i><?php echo $this->__('Post Comments') ?></h2>
    </div>

    <?php echo $this->getChildHtml('smartwave_blog_comments_toolbar'); ?>
        <?php foreach ($comments as $comment) : ?>
            <div class="commentWrapper">
                <i class="icon-user"></i>
                <div class="comment-area">
                    <h4 class="username"><?php echo $comment->getUser(); ?></h4>
                    <div class="commentContent"><?php echo nl2br($comment->getComment()); ?></div>
                    <div class="date"><?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
                </div>
                <div class="clearer"></div>
            </div>       
        <?php endforeach; ?>

    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form action="" id="postComment" method="post">  
                    <fieldset class="group-select">
                        <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                        <ul class="form-list">
                            <li>
                                <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label>
                                <div class="input-box smartwave-blog-comment-area">
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="button-set" style="width:96%">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>            

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form action="" id="postComment" method="post">
                <fieldset class="group-select">
                    <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                    <ul class="form-list">
                        <li>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="name" class="required"><?php echo Mage::helper('blog')->__('Name') ?><em>*</em></label>
                                    <div class="input-box">
                                        <input name="user" id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" type="text" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="email" class="required"><?php echo Mage::helper('blog')->__('Email') ?><em>*</em></label>
                                    <div class="input-box">
                                        <input name="email" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text"  />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label>
                            <div class="input-box smartwave-blog-comment-area">
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            </div>
                        </li>

                <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li><?php
                require_once 'recaptcha/recaptchalib-aw.php';

                // Get a key from http://recaptcha.net/api/getkey
                $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');
                $privatekey = Mage::getStoreConfig('blog/recaptcha/privatekey');
                $error = null;

                echo recaptcha_get_html($publickey, $error);
                            ?></li><?php
            }
                        ?>  
                    </ul>
                </fieldset>
                <div class="button-set" style="width:96%">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button form-button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
</div>
</div>
<?php


 $implode_str = implode(',',$tags);

$list_arr = explode(',',$implode_str);

$filter = array();
// $sql = "SELECT `main_table`.* FROM `aw_blog` AS `main_table` WHERE (";
// $i=0;
// foreach ($list_arr as $value) {
    
//     if($i >0)
//     {
//         $cond='OR ';
//     }
//     $sql2 .= $cond."FIND_IN_SET('$value', `product_tags`)";
    
    
//     $i++;
// }
//   $sql .= $sql2.') AND post_id !='.$pid.' LIMIT 15';

$sql = "SELECT `main_table`.* FROM `aw_blog` AS `main_table` ORDER BY DATE(created_time) DESC, created_time ASC LIMIT 15";
$results = $readConnection->fetchAll($sql);
?>


<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 relatedPost">
<!-- Related post starts here -->
<h2 class="filter-title"><span class="content lineMeLago"><strong>Related Post</strong></span></h2>
<ul>
    
    <?php 
    foreach ($results as $post): 
    ?>
    <li>
        <div class="postWrapper col-lg-4 col-md-4 col-sm-3 col-xs-12 lineMeLago">
            <?php
                $orig_data = $post['created_time'];
                $oldLocale = setlocale(LC_COLLATE, "0");
                setlocale(LC_ALL, Mage::app()->getLocale()->getLocaleCode().'.UTF-8');
                $post_day = strftime("%d", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
                $post_month = strftime("%b", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
                setlocale(LC_ALL, $oldLocale);
            ?>
           
           <!--  -->
             <div class="postImageRealted">
                <h2><a href="<?php echo Mage::getBaseUrl().'news/'.$post['identifier']; ?>" ><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post['small_image']; ?>"></a></h2>
            </div>
            <!-- class="postTitle" -->
            <div class="postTitleRelated">
                <h2><a href="<?php echo Mage::getBaseUrl().'news/'.$post['identifier']; ?>" ><?php echo $post['title']; ?></a></h2>
            </div>
            <?php echo $this->getBookmarkHtml($post) ?>
        </div>
    </li>
</ul>
<?php endforeach; ?>
</div>

<!-- Related post Ends here -->
</div>