.jm-megamenu {
	margin: 0;
	padding: 0;
}

.jm-megamenu a.over, .jm-megamenu a.active {
	background: #000;
}

ul.megamenu {
	margin: 0 20px; /* menu's gutter */
}
 

ul.megamenu li {
	overflow: visible;
}

/* lv - 0
-----------------------------------*/
/* Styling ---*/
.jm-megamenu ul.level0 {
	margin: 0;
	padding: 0;
}

.jm-megamenu ul.level0 li.mega {
	background: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.jm-megamenu ul.level0 li.mega a.mega {
	border-right: 1px solid #353434;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.jm-megamenu ul.level0 li.mega.first a.mega {
	border-left: 1px solid #353434;
}


.jm-megamenu ul.level0 li.mega a.mega:hover,
.jm-megamenu ul.level0 li.mega:hover > a.mega {
	background: #000;
	color: #fff;
}

.jm-megamenu ul.level0 li.mega .has-image {
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 25px;
}

.jm-megamenu ul.level0 li.mega span.menu-title {
	display: block;
}

.jm-megamenu ul.level0 li.mega span.menu-desc {
	display: block;
	font-size: 92%;
	font-weight: 400;
}
/*
.jm-megamenu ul.level0 li.mega a img {
	width:180px;
	height:120px;

}
*/
.jm-megamenu ul.level0 li.over, ul.level0 li.haschild-over {
}

.jm-megamenu ul.level0 li.haschild a.mega span.menu-title,
.jm-megamenu ul.level0 li.haschild-over a.mega span.menu-title {
}

.jm-megamenu ul.level0 li.haschild a.mega span.menu-desc,
.jm-megamenu ul.level0 li.haschild-over a.mega span.menu-desc {
}

.jm-megamenu li.mega.haschild a.haschild span{
	background: url('../images/bg-bullet-right.png') no-repeat right 54%;
	padding: 0 10px 0 0;
}

.jm-megamenu li.mega.haschild a.haschild:active span,
.jm-megamenu li.mega.haschild a.haschild:focus span,
.jm-megamenu li.mega.haschild a.haschild:hover span {
	padding: 0 10px 0 0;
}



.jm-megamenu li.mega.haschild a.haschild.active {
	background: #000;
	border-left: 0;
}

.jm-megamenu li.mega.haschild a.haschild.active span{
	background: #000 url('../images/bg-bullet-right.png') no-repeat right 54%;
}

.jm-megamenu ul.level0 li.active {
}

/* lv - 1 and below
-----------------------------------*/
/* Layout ---*/
.jm-megamenu li.mega .childcontent {
	display: block;
	height: auto;
	position: absolute;
}

.jm-megamenu li.mega .childcontent,
.jm-megamenu li.haschild-over li.mega .childcontent,
.jm-megamenu li.mega li.haschild-over li.mega .childcontent ,
.jm-megamenu li.mega li.mega li.haschild-over li.mega .childcontent, 
.jm-megamenu li.mega li.mega li.mega li.haschild-over li.mega .childcontent, 
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .childcontent {
	left: -999em; /*hide the menu*/
}

.jm-megamenu li.haschild-over .childcontent,
.jm-megamenu li.haschild:hover > .childcontent,
.jm-megamenu li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent {
	left: auto; /*show on parent:hover*/
}

.jm-megamenu li.mega .right,
.jm-megamenu li.haschild-over li.mega .right,
.jm-megamenu li.mega li.haschild-over li.mega .right ,
.jm-megamenu li.mega li.mega li.haschild-over li.mega .right, 
.jm-megamenu li.mega li.mega li.mega li.haschild-over li.mega .right, 
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over li.mega .right {
	right: auto; /*hide the menu*/
}

.jm-megamenu li.haschild-over .right {
	right: 0; /*show on parent:hover*/
}

.jm-megamenu li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .right,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .right  {
	right: 12em; /*show on parent:hover*/
}

.jm-megamenu ul.level1 li.haschild:hover > .childcontent {
	left: 150px;
}

.jm-megamenu ul.level1 li.mega {
	float: none;
}

.jm-megamenu ul.level1 .childcontent {
	margin: -2em 0 0;
}

 /* Columns ---*/
.jm-megamenu .megacol {
	border-right: 1px solid #2e2e2e;
	float: left;
	padding: 0 0 20px;
}

.jm-megamenu .childcontent.cols1  .megacol{
	border-right: 0;
	padding: 0;
	min-height: 100% !important;
}
	
.jm-megamenu .megacol.last {
	border-right: 0;
}

.jm-megamenu .megacol.column4 {
	border-right: 0;
}

.jm-megamenu .megacol.column5  p {
	margin: 0;
}

.jm-megamenu .megacol.column5 img {
	float: none;
}

.jm-megamenu .megacol.column5 {
	border-top: 1px solid #2e2e2e;
	padding: 15px 0 0;
	text-align: center;
	min-height: 100% !important;
}

.jm-megamenu .megacol.column4  ul.megamenu {
	margin: 0 0 0 20px;
}

.jm-megamenu .megacol.column5  ul.megamenu {
	margin: 0;
}

/* Styling ---*/
.jm-megamenu ul.level1 li.mega {
}

.jm-megamenu ul.level1 li.first {
}

.jm-megamenu ul.level1 li.mega a.mega {
	background: none;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.5;
	padding: 5px 0;
	text-transform: none;
}

.jm-megamenu ul.level1 li.mega a.mega span.menu-title {
	background: none;
	padding: 0;
}


.jm-megamenu ul.level1 li.haschild > a.mega > span.menu-title,
.jm-megamenu ul.level1 li.haschild-over > a.mega > span.menu-title,
.jm-megamenu ul.level2 li.haschild > a.mega > span.menu-title,
.jm-megamenu ul.level2 li.haschild-over > a.mega > span.menu-title {
	background-image: url(../images/arrow.gif);
	background-position: 95% center;
	background-repeat: no-repeat;
	padding: 0;
}

.jm-megamenu ul.level1 li.mega a.mega:active,
.jm-megamenu ul.level1 li.mega a.mega:focus, 
.jm-megamenu ul.level1 li.mega a.mega:hover {
	color: #e91c1c;
	text-decoration: none;
}

.jm-megamenu ul.level1 li.over, ul.level1 li.haschild-over {
}

.jm-megamenu ul.level1 li.group {
	background: none;
}

 /* CHILD CONTENT
-----------------------------------*/
.jm-megamenu .childcontent {
	z-index: 999;
}

.jm-megamenu .childcontent-inner {
	background: #000;
	box-shadow: 0 5px 3px 0 rgba(0,0,0,.1);
	padding: 20px 0;
}

.jm-megamenu .level1 .childcontent-inner,
.jm-megamenu .level2 .childcontent-inner {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.jm-megamenu .childcontent .block {
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}

.jm-megamenu .childcontent .block h3 {
	background: none;
	margin-left: 10px;
	margin-right: 10px;
	text-indent: 5px;
	text-transform: none;
}

.jm-megamenu .childcontent .block .ja-box-ct {
	padding: 0 5px;
}

.jm-megamenu .childcontent .block a {
	text-decoration: none;
}

.jm-megamenu .childcontent .block a:hover,
.jm-megamenu .childcontent .block a:focus,
.jm-megamenu .childcontent .block a:active {
	text-decoration: none;
}

.jm-megamenu .childcontent .block ul:first-child {
	margin-top: 0 !important;
}

.jm-megamenu .childcontent .block li {
	margin-bottom: 5px;
}

/* Grouped --- */
.jm-megamenu .group {
}

.jm-megamenu .group-title {
	overflow: hidden;
}

.jm-megamenu ul.level1 li.mega div.group-title a.mega {
	color: #e91c1c;
	font-size: 14px;
	font-weight: 700;
	padding: 0 0 10px;
	text-transform: uppercase;
}

.jm-megamenu ul.level1 li.mega.first a.mega{
	border-left: 0;
}

.jm-megamenu .group-title .menu-desc {
	padding-left: 0 !important;
}

.jm-megamenu .group-content .block,
.jm-megamenu .group-content ul.megamenu {
	margin: 0; /* Group-content's gutter*/
}

/* override --- */
.jm-megamenu .childcontent ul.megamenu .block {
	padding: 0;
}

.jm-megamenu .childcontent ul.megamenu .block h3 {
	margin-left: 0;
	margin-right: 0;
}

.jm-megamenu .group .group-content p {
	margin: 0;
}

.jm-megamenu .category-products .product-name {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.jm-megamenu .category-products .product-name a{
	color: #333;
}

.jm-megamenu .category-products .product-name a:active,
.jm-megamenu .category-products .product-name a:focus, 
.jm-megamenu .category-products .product-name a:hover {
	color: #E91C1C;
	text-decoration: none;
}

.jm-megamenu .category-products .product-image img {
	float: none !important;
	margin: auto !important;
	width: 100%;
	padding-right: 0 !important;
}



.jm-megamenu .category-products .price-box {
	margin: 20px 0;
}

.jm-megamenu .category-products .price-box p{
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}


.jm-megamenu .category-products .special-price .price-label,
.jm-megamenu .category-products .old-price .price-label {
	display: none;
}

.jm-megamenu .category-products .old-price .price {
	color: #888;
	float: left;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.jm-megamenu .category-products .special-price .price {
	color: #111;
	float: left;
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 0 3px;
	padding: 0;
}


.jm-megamenu .category-products {
	background: #fff;
	border-radius: 3px;
	margin: 0;
}

.jm-megamenu .products-grid div.item .item-inner {
	float: left;
	margin: 0;
	min-height: 0;
	padding: 20px;
	width: 170px;
	position: relative;
}


.jm-megamenu .products-grid div.item .item-inner .hot-label {
  background: url(../images/icon_hot.png) no-repeat right top;
  color:#fff;
  position: absolute;
  width: 41px;
  height: 22px;
  line-height: 21px;
  top:10px;
  left: 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 12px;
  font-family:'PT Sans',sans-serif;
  
}

.jm-megamenu .products-grid div.item .item-inner .sales-label {
  background-image: url(../images/icon_sale.png);
  color:#fff;
  position: absolute;
  width: 41px;
  height: 22px;
  line-height: 21px;
  top:10px;
  left: 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 12px;
  font-family:'PT Sans',sans-serif;
}


.jm-megamenu .products-grid div.item {
	width: 210px;
}

.jm-megamenu .group .group-content .block img {
	float: none;
	padding: 0;
}


.jm-megamenu .group .group-content  .products-grid .product-information {
	margin: 0;
}

.tag-list-index #ja-current-content {
	padding: 20px;
}


/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix {
	display: block; /* O */
}

.clearfix:after {
	clear: both;
	/* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}



.clearer {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

