<div class="jm-product-list <?php echo $config['mode']; ?> clearfix">	
		<?php if($config['title']){?><div class="page-title category-title"><h1><?php echo $config['title']; ?></h1></div><?php }; ?>
		<div class="listing-type-grid category-products">
			<?php $_collectionSize = $listall?$listall->count():0; ?>
			
			<?php $i = 0;
				$width = 100;
				// -- added by Duchh 15/12/2009
				$thumbnailw = $config['width'];
				$thumbnailh = $config['height'];
				$numberchar = $config['max'];

				if ($config['perrow']) $width = 100/$config['perrow'];
				$width = "style=\"width:{$width}%;\"";    
        $return = false;                
			?>							
			<?php if($_collectionSize){?>
				<ul class="products-grid">
				<?php foreach ($listall->getItems() as $_product){ 
						$_rowCount = ceil($_collectionSize/$config['perrow']);
						if ($i%$config['perrow']==0) : $j++; endif;
						$i++;
				?> 
						<li class="item <?php if ($j==$_rowCount) : echo "item-row-last"; endif; ?> <?php if(($i-1)%$config['perrow']==0): ?> first<?php elseif($i%$config['perrow']==0): ?> last<?php endif; ?>" <?php echo $width;?>>
							
							<p class="product-image">
								<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
									<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($thumbnailw, $thumbnailh)->setWatermarkSize('30x10'); ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
								</a>
							</p>
							<div class="product-information">
								<h5>
									<a title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName() ?></a>
								</h5>
								<?php echo $this->getPriceHtml($_product,true, '_jmproduct_' . rand()) ?>
								
								<?php if($numberchar) : ?>
									<p class="pdescription"><?php echo substr(nl2br(strlen($_product->getDescription()) > 10 ? $_product->getDescription() : $_product->getShortDescription()), 0, $numberchar).'...';?></p>
								<?php endif; ?>
								
								<?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
									<div class="actions">
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
												<div class="link-wishlist"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"  title="Add to Wishlist"><?php echo $this->__('Wishlist') ?></a></div>
											<?php endif; ?>
											<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
												<div class="link-compare"><a href="<?php echo $_compareUrl ?>"  title="Add to Compare" ><?php echo $this->__('Compare') ?></a></div>
											<?php endif; ?>
										<?php if($_product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to cart') ?></span></span></button>
										<?php else: ?>
											<div class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></div>
										<?php endif; ?>
										
										
									</div>
									
									<div class="mass-color">
									</div>
							 </div>
						</li>					
				<?php }?>		
				</ul>
				<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
			<?php }?>	
		</div>
</div>
<!-- Blog Post -->
<?php
$resource = Mage::getSingleton('core/resource');
$readConnection = $resource->getConnection('core_read');
$sql = "SELECT `main_table`.* FROM `aw_blog` AS `main_table` ORDER BY DATE(created_time) DESC, created_time ASC";
$results = $readConnection->fetchAll($sql);
?>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
    <?php 
    foreach ($results as $post): 
    ?>
    <div class="postWrapper col-lg-4 col-md-4 col-sm-3 col-xs-12">
	    <?php
	        $orig_data = $post['created_time'];
	        $oldLocale = setlocale(LC_COLLATE, "0");
	        setlocale(LC_ALL, Mage::app()->getLocale()->getLocaleCode().'.UTF-8');
	        $post_day = strftime("%d", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
	        $post_month = strftime("%b", strtotime($orig_data) + Mage::getSingleton('core/date')->getGmtOffset());
	        setlocale(LC_ALL, $oldLocale);
	    ?>
           
        <div class="postImage">
            <h2><a href="<?php echo Mage::getBaseUrl().'news/'.$post['identifier']; ?>" ><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post['small_image']; ?>"></a></h2>
        </div>
            
        <div class="postTitle">
        	<h2><a href="<?php echo Mage::getBaseUrl().'news/'.$post['identifier']; ?>" ><?php echo $post['title']; ?></a></h2>
        </div>
            <?php //echo $this->getBookmarkHtml($post) ?>
        <span class="user-name"><?php echo $this->__("By"); ?> <?php echo $post['user']; ?></span>
        <div class="postContent">
        
        <?php echo $post['short_content']; ?>
        
        <a class="aw-blog-read-more" href="<?php echo Mage::getBaseUrl().'news/'.$post['identifier'];?>">Read More</a>

        </div>
    </div>
<?php endforeach; ?>
</div>