/* style only for IE8*/
@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: 'Novecentowide-Bold';
  src: url('http://www.google.com/fonts/specimen/Lato');
}

.form-language {
	width: 90px;
}

.form-language #select-language{
	width: 120px;
}

.form-language #select-language.english {
	background: url("../images/ico-en.png") no-repeat 52px 2px;
}

.form-language #select-language.french {
	background: url('../images/ico-fr.png') no-repeat 52px 2px;
}

.form-language #select-language.german {
	background: url('../images/ico-ge.png') no-repeat 52px 2px;
}
.jm-slider li:hover .mass-color,
.jm-slider li.lastitem:hover .mass-color,
.jm-slider li.firstitem:hover .mass-color{
	border: 1px solid #ddd;
}
.jm-slider li.lastitem:hover .mass-color {
	left: -2px !important;
}

.jm-slider li:hover .mass-color,
.jm-slider li.firstitem:hover .mass-color,
.jm-slider li.lastitem:hover .mass-color{ 
	height: 130% !important;
}

.jm-slider li:hover .mass-color-inner, 
.jm-slider li.lastitem:hover .mass-color-inner,
.jm-slider li.firstitem:hover .mass-color-inner{ 
	height: 100% !important;
}