/*
 * ------------------------------------------------------------------------
 * JM Sporty Theme for Magento 1.8
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

body {
  font-size: 14px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/
}

.main,
.ja-lo-2colsl #ja-mainbody,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody,
.ja-lo-2colsl #ja-main,
.ja-lo-3cols #ja-main { width: 100%; }

#ja-mainbody { margin-bottom: 10px; }

#ja-main { margin-bottom: 0; }

.wrap { min-width: 100%; }

.ja-lo-3cols #ja-main {
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#ja-col1,
#ja-col2 { display: none; }

#ja-wrapper { padding-top: 0; }

/* Header ---*/
#ja-header { height:59px; min-height:59px; z-index:999; position:fixed; top:0;}
#ja-header .main { width:100%;}

#ja-top { min-height: auto !important;position:fixed; right:0; width:45px; top:0; z-index:9999;}

h1#logo { left:30%; z-index:9999; position:absolute; top:0; width:153px; height:39px;text-indent: -1000em;}

#ja-header .ground-menu1 { background:none; border:none; top:0; z-index:99}

#ja-container { padding-top:95px;}

.form-language { display:none;}

.quick-access {
  right: auto;
  left: 0;
  line-height: 60px;
}

.welcome-msg {
  display: none;
}


/* Toggle ---*/
.has-toggle {
  float: right;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  width: auto !important;
}

.has-toggle .btn-toggle {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(59,59,59,1);
  border-radius:3px;
  cursor: pointer;
  text-indent:-1000em;
}

.has-toggle .btn-toggle strong {
  font-weight: normal;
  display: none;
}

.has-toggle .btn-toggle.active { color: #3f739a; background-position: bottom left; }

.has-toggle .inner-toggle {
  position: absolute;
  right: 0;
  display: none !important;
  position: absolute;
  padding: 20px;
  background: #fff;
  top:57px;
  -moz-box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
}

.has-toggle .inner-toggle .arrow { display:block;}

.has-toggle .btn-toggle.active + .inner-toggle {
  display: block !important;
  top:49px;
   border: 4px solid #D80707;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  
}

.has-toggle .inner-toggleactive {
  background: #fff;
  padding: 20px;
  display: block !important;
   border: 4px solid #D80707;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.has-toggle .inner-toggle .block-account {
  padding: 0;
}

.has-toggle .inner-toggle .block-title {
  display: none;
}

.ja-tab-content {
  display: inline-block;
}

/*search*/
#ja-search {
  top: 10px !important;
  right:55px !important;
  width:40px !important; height:40px !important; border:none;
  background:none;
  border-radius:0;
}

#ja-search .btn-toggle {
    background: url(../images/icon_menu_header.png) no-repeat center bottom;
}
#ja-search .btn-toggle.active {
    background: url(../images/icon_menu_header_active.png) no-repeat center bottom;
}
#ja-search form { margin-top:0; width:220px;}
#ja-search .input-text { border:1px solid #ddd}

#ja-search button { top:20px; right:30px;}

#ja-search .inner {
  margin: 0;
}

/*ja-quickaccess*/
#ja-quickaccess {
    border-bottom: 0 none;
    position: absolute !important;
    right: 106px !important;
    top: 10px !important;
    z-index: 3;
}
#ja-quickaccess .btn-toggle {background: url(../images/icon_menu_header.png) no-repeat center -40px;}

#ja-quickaccess .btn-toggle.active { background: url(../images/icon_menu_header_active.png) no-repeat center -40px;}

#ja-quickaccess .inner-toggle { width:200px;}

.welcome-msg { display:none}

.shop-access { float: right; width: 175px;}

.shop-access li { display:block; background:none; text-transform:uppercase; font:normal 12px Arial, Helvetica, sans-serif; padding:14px 0 }
.shop-access li a, .shop-access li a:hover { color:#333 !important;}

.block-account .block-content li { display:block; text-transform:uppercase; border-bottom:none;}
.block-account .block-content li a,
.block-account .block-content li a:hover { color:#333; border-bottom:none;}
.block-account li.current { font-size:100%}

/* ja-mycart */
#ja-mycart {top:-70px !important; right:10px!important; display:block; background:none; height:40px; width:40px; z-index:999;}

#ja-mycart .btn-toggle
 { background: url(../images/icon_menu_header.png) no-repeat center -80px !important;
   height:40px; 
   padding:0;
}

#ja-mycart .btn-toggle.active {background: url(../images/icon_menu_header_active.png) no-repeat center -80px !important}

#ja-mycart .btn-toggle span { background:none;}

#ja-mycart .active + .inner-toggle { right:0; top:49px; z-index:1000}

#ja-mycartleft { display:none;}


/* Mainnav ---*/
#ja-mainnav {
  position: absolute !important; 
  top: 10px !important;
  width:40px !important;
  z-index: 5;
}

#ja-mainnav .btn-toggle {
  width:40px;
  display: block;
  height:40px;
  padding: 0;
  background: url(../images/icon_menu_header.png) no-repeat center top;
  text-indent: -1000em;
}

#ja-mainnav .btn-toggle strong {
  display: none
}

#ja-mainnav-inner {
  padding: 0;
  width: 100%;
}

/* slideshow */
#ja-mass-top { margin-top:59px;}
#ja-main #ja-mass-top { margin-top:0px; overflow:hidden;}

.jm-slide-desc h3 span.text-color1,
.jm-slide-desc h3 span.text-color2 { font-size: 50px!important;line-height: 50px!important;}

.jm-slide-desc h3 span.text-color3 { font-size: 32px!important; line-height: 32px!important;}
.jm-mask-desc .jm-slide-desc { left:10px !important}

.jm-mask-desc .readmore a { bottom:120px !important; left:10px;}

.jm-slide-desc-outer .jm-mask-desc { top:50px !important}

.jm-slide-desc p { font-size:18px; padding-top:0; width:450px;}

.jm-slide-main-wrap .jm-slide-thumbs-wrap { bottom:30px !important}


#ja-mass-top1 { display:none;}

/*Slider */
.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 span {
    padding: 0 15px;
}

.container { width:600px!important;}
.container .jm-tabs-title-top { width:70% !important}

.jm-tab-panels-top .jm-tab-content { width:600px !important;}
	
.jm-tabswrap .jm-tab-content li { width:272px !important}
.jm-slider li:hover .item-slider {left:10px;width:90% !important;}

#ja-botsl .block-contact p { height:auto}

.col2-set .col-2,
.col2-set .col-1 { width: 100%; } 
.col2-set .col-1 { margin-bottom: 10px; }

/* Top Spotlight ---*/
#ja-topsl .inner { margin: 0 10px; }
#ja-topsl .col-1,
#ja-topsl .col-2,
#ja-topsl .col-3,
#ja-topsl .col-4,
#ja-topsl .col-5 { width: 100%; margin-bottom: 20px; }

#ja-topsl .col-1 .block,
#ja-topsl .col-2 .block,
#ja-topsl .col-3 .block,
#ja-topsl .col-4 .block,
#ja-topsl .col-5 .block { margin: 0; }

#ja-topsl .col-4 { width: 100%; margin-bottom: 20px; }

#ja-topsl .col-4 ul li a { display: inline-block; width: 105px; float: none; }

#ja-topsl .col-3 .block .block-content { background-image: none; }

/*Heading---*/
.page-title h1 { font-size: 200% !important; text-align: center; }

.title-buttons { text-align: center; }

.title-buttons h1 { float: none; }

.title-buttons ul { float: none; text-align: center; }

.title-buttons ul li { float: none; }

.title-buttons .link-print,
.title-buttons .separator { display: none; }



/* Form ---*/
.form-list li .input-box select.address-select {
  width: 100%;
}

.form-list li.wide .input-box input.input-text, .form-list li.wide .input-box textarea,
.form-list li .input-box .input-text, .form-list li .input-box textarea {
  width: 100%;
}

button.button, button {
  font-size: 12px;
  text-transform: none;
}

.fieldset li .field {
  width: 100%;
}

.fieldset .legend {
  font-size: 12px;
}

.fieldset li .input-box select {
  width: 100%;
}

.fieldset label, .form-list label, .sp-methods label {
  font-weight: normal;
  font-size: 12px;
}

.form-list li .input-box select {
  width: 100%;
}

#checkout-review-table th,
#checkout-review-table tr td {
  width: auto;
}

#checkout-review-table tr th:nth-child(2n),
#checkout-review-table tr td:nth-child(2n) {
  display: table-column;
  width: 0;
}
/* TABLE */
.data-table { font-size: 12px; }

.data-table td, .data-table th { padding: 5px ; text-transform: none; }


colgroup col { width: 0; }

.checkout-progress li { width: 100%; }

/* Product List ---*/
.products-grid li.item,
.products-grid li.item.last {
  width: 50% !important;
}

.products-grid li.item.first {
  clear: none;
}

.products-grid li.item:nth-child(2n) {
  background: none;
}

.products-grid li.item:nth-child(2n+1) {
  clear: both;
}

.products-grid .item-row-last .actions,
.jm-product-list .products-grid.last .actions {
 
}

.products-grid li.item .jmquickview { display: none !important; }

.products-list .product-shop { width: 100%; }

.products-list .product-shop .f-fix { width:100% !important; border-right:none;}
.products-list .product-shop .desc-info { float: left; width:100%; padding-left:0; border-left:none;}
.products-list .product-shop .desc-info .button-set { text-align:left;}
.products-list .product-shop .desc-info .button-set button { width:40%}

.product-view .col2-set .col-2 {
    width: 100%;
}

.toolbar .view-mode {
  margin-right: 15px;
  padding-right: 15px;
}

.toolbar .limiter,
.toolbar .sort-by {
  display: none;
}

.pager .pages {
  margin: 0;
}

.truncated { display: none; }

/* Product Detail ---*/
.product-essential .product-shop { margin-left: 0; width: 100%; }
.product-options-wrap { width: 100%; }
.product-img-box { float: left; margin-right: 0; width: 100%; }

.need_some_assistance { display: none; }

.product-img-box .more-views { display: none; }

.product-image-wrap { float: none; }

.product-img-box .product-image-zoom {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  text-align: center
}

.product-img-box .product-image-zoom img {
  max-width: 100%;
  left:auto; 
  top: auto;
  position:relative;
}

.product-view .col-2 { padding: 0; border-left: 0; }

.product-view .col-1 { min-height: 0; }

#product-view-tabs { width: 100%; }
.zoom { display: none; }

.product-essential .add-to-links li { margin-bottom:5px; }
.product-view .product-img-box{ width: 310px; height: 310px; }

.product-view .product-img-box {
  margin-bottom: 30px;
}


.product-collateral .box-up-sell .products-grid td {
  display: block;
  width: auto;
  border: 0;
}

.product-view .box-up-sell .products-grid td.empty {
  display: none;
}

.box-tags .form-add .button {
  margin-left:35px;}

.box-tags .form-add .input-box .input-text {
  width: 100%;
}

#review-form table {
  width: 100%;
  border: 0;
  font-size: 12px;
}

#review-form td, #review-form th {
  background: none;
  border: 0 !important;
  padding: 0;
  text-align: left;
}

#review-form input.input-text, #review-form textarea {
  width: 100%;
}

/* Shopping Cart */
.cart .title-buttons h1 { float:left; }
.cart .title-buttons ul { float:right; }

#shopping-cart-table th, #shopping-cart-table td { padding:5px; }

#shopping-cart-table thead tr { border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

#shopping-cart-table th:first-child,
#shopping-cart-table td:first-child,
#shopping-cart-table th:nth-child(3n),
#shopping-cart-table td:nth-child(3n),
#shopping-cart-table th:nth-child(5n),
#shopping-cart-table td:nth-child(5n) { display: none; }

.price { font-size: 120%; }

.cart .cart-collaterals .col2-set .col-1, .cart .cart-collaterals .col2-set .col-2,
.cart .cart-collaterals .col2-set, .cart-collaterals .totals { width: 47% !important; }
.cart .crosssell { display: none; }

.cart .discount .discount-form .button {
    height: 35px;
    padding: 0 15px;
}
.cart-collaterals .totals tfoot td { padding:5px;}

#coupon_code { width: 100%; }

/* Multi Checkout ---*/
#multiship-addresses-table select {
  width: 100%;
}

.multiple-checkout .col2-set .col-1, .info-set.col2-set .col-1,
.multiple-checkout .col2-set .col-2, .info-set.col2-set .col-2 {
  width: 90%;
}

big {
  font-size: 1.5em;
}

.multiple-checkout .button-shipping, .checkout-progress .back-link a, .checkout-actions .back-link a, .multiple-checkout .back-link a,
.multiple-checkout .btn-continue,
.checkout-actions .btn-update, .multiple-checkout .btn-update   { font-size:12px !important}
/* My Account ---*/
.box-account { border: 0; }

.box-account .box-head { padding: 5px 0; }

.box-account .box-head h2 { text-transform: none; }


.box-account #my-orders-table { border-left: 1px dashed #ddd; }

.box-account #my-orders-table tr th,
.box-account #my-orders-table tr td {
  padding: 5px;
  text-align: left;
  background: none !important;
}

#shopping-cart-table tr td {
  padding: 5px;
  text-align: left;
}

.my-account .box-payment {
  margin-top: 20px;
}

#my-orders-table tr th:nth-child(3n),
#my-orders-table tr td:nth-child(3n) { display: none; }

.order-items #my-orders-table tr th,
.order-items #my-orders-table tr td {
  width: auto;
}

.order-items #my-orders-table tr th:nth-child(3n),
.order-items #my-orders-table tr td:nth-child(3n) {
  display: table-column;
  width: 0;
}

.order-items #my-orders-table tr td:nth-child(4n) span * {
  display: none;
}

.order-items #my-orders-table tr td:nth-child(4n) span strong {
  display: block;
}

#my-orders-table tr th,
#my-orders-table tr td { width: 20%; }

.box-account .col2-set { margin: 0 0 20px; }

.box-account ol#my_recent_tags, .box-account ol#my_recent_reviews { padding: 0 0 15px; }

.my-account .box { margin: 0; }

#wishlist-table th:nth-child(2n),
#wishlist-table td:nth-child(2n) {
  display: none;
}

#wishlist-table th:nth-child(4n),
#wishlist-table td:nth-child(4n) {
  display: table-cell;
}

#wishlist-table .product-name, 
#wishlist-table .price-box {
  margin-left: 0;
  margin-right: 0;
}

#my-tags-table .button,
#wishlist-view-form .button {
  float: none;
  display: block;
  margin: 0 auto 10px auto;
  width:auto;
}

#my-reviews-table th:nth-child(4n),
#my-reviews-table td:nth-child(4n),
#my-reviews-table th:nth-child(3n),
#my-reviews-table td:nth-child(3n) {
  display: none;
}

#my-tags-table th:first-child,
#my-tags-table td:first-child {
  display: none;
}

#my-tags-table th:nth-child(2n),
#my-tags-table td:nth-child(2n) {
  width: 140px;
}

/* Advanced search ---*/
.advanced-search li label {
  text-align: left;
  float: none;
  display: block;
}

/* Returns Page ---*/
#oar_widget_orders_and_returns_form .input-box {
  width: 100% !important;
}

#oar_widget_orders_and_returns_form .input-box .input-text {
  width: 100% !important;
}

/* Bottom Spotlight ---*/
#ja-botsl .col-1{ width: 40%;}  
#ja-botsl .col-2, 
#ja-botsl .col-3 { width: 28%;} 
#ja-botsl .block-subscribe {
  width: 100%;
}

#ja-botsl .block-subscribe .input-text { min-width:80%; width:80%}

#ja-botsl .socials-list li {
    display: inline-block;
    margin: 0 20px 20px;
    text-align: center;
}

#ja-mainnav-inner {
  padding: 0;
  width: 100%;
}

.jm-megamenu ul.level0 > li.mega {
  float: none;
}

.jm-megamenu li.mega .childcontent {
  position: static;
}

.jm-megamenu .childcontent-inner-wrap {
  margin: 0 10px;
}

.jm-megamenu .childcontent-inner {
  width: 100% !important;
  background: none;
  box-shadow: none;
}

.jm-megamenu .megacol {
  width: 100% !important;
  background: none;
}

.jm-megamenu .megacol ul.megamenu {
  margin: 0;
}

.jm-megamenu .megacol .group-content {
  display: none;
}

.jm-megamenu ul.level1 li.mega div.group-title a.mega,
.jm-megamenu ul.level1 li.mega a.mega {
  color: #999;
  padding: 10px 0;
  text-transform: none;
}

.jm-megamenu ul.level1 li.mega div.group-title a.mega:hover,
.jm-megamenu ul.level1 li.mega div.group-title a.mega:focus,
.jm-megamenu ul.level1 li.mega div.group-title a.mega:active,
.jm-megamenu ul.level1 li.mega a.mega:hover,
.jm-megamenu ul.level1 li.mega a.mega:focus,
.jm-megamenu ul.level1 li.mega a.mega:active {
  color: #000;
}



.has-toggle .block-account { display: block; }

.has-toggle .block-account + .shop-access { display: none; }

#ja-shopby {
  display: block;
  top: 20px !important;
  position: absolute !important;
  right: 90px !important;
  z-index: 3;
}

#ja-shopby .btn-toggle {
  background-image: url(../images/icon_shopby.png);
}

#ja-shopby .inner-toggle {
  right: -90px;
  width: 180px;
}


#product-review-table tr th:nth-child(1n),
#product-review-tabletr td:nth-child(1n) { width:20%; }

.product-options ul.options-list input.radio { margin-top:0; }

#checkout-review-table thead tr th, #checkout-review-table thead tr td { background:none; }

#checkout-review-table tr th:nth-child(3n),
#checkout-review-table tr td:nth-child(3n) { border-right:0;  }

#checkout-review-table tfoot tr th:nth-child(1n),
#checkout-review-table tfoot tr td:nth-child(1n) { border-right:0;}

.page-sitemap .pager .pages { margin:10px 0 0 0 !important; }

.page-sitemap .pager p.amount {display: none;}  

#my-tags-table .add-to-links { width:120px; margin:0 auto}

#oar_widget_orders_and_returns_form input { width:85% !important; }

.product-collateral .box-up-sell .products-grid td,
.product-view .box-up-sell .products-grid tr.last td { border-bottom:1px dashed #ddd}

.megamenu .childcontent-inner { width:200px !important}

#ja-mass-bottom .company-list li { margin:0 0 40px;}

.ja-col-left #ja-mainbody { background:none;}


.pages {
    float: right;
    width: 21%;
}

.adv-description .product-adv-box { display:none;}
.products-description .std, #ja-tab-products {
    width: 100%;
}

.block-account ul { padding:0;}
.block-account li a, 
.block-account li.current { padding:8px 5px; line-height:normal;}