/*
 * ------------------------------------------------------------------------
 * JM Sporty Theme for Magento 1.8
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

.main,
.ja-lo-2colsl #ja-mainbody,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody,
.ja-lo-3cols #ja-main {
  width: 100%;
}

#ja-current-content { padding-left: 10px; padding-right: 10px; }

#ja-mycart .btn-toggle.active { background-position: center -85px; }

#ja-top { z-index: 888; }

/* Top Spotlight ---*/
#ja-topsl .col-4 { display: none; }

.ctg-menu { padding: 20px; }

.ctg-menu ul.products-list li a { text-transform: none; }

/* Bottom Spotlight ---*/
#ja-botsl .col-1{
  width: 100%;
  background: none;
  margin-bottom:20px;
}

#ja-botsl .col-2, 
#ja-botsl .col-3 {
  width: 50%;
  background: none;
   margin-bottom:20px;
}

#ja-botsl .socials-list li {
    display: inline-block;
    margin: 0 10px 20px;
    text-align: center;
}

/* Mass Bottom ---*/
#ja-mass-bottom { display: none; }

/* Product List ---*/
.products-grid li.item,
.products-grid li.item.last {
  width: 100% !important;
  background: none;
}
.products-grid li .product-image {
	margin-top: 0;
}

/* Product Detail ---*/

.product-view .col2-set .col-1 {
    width: 100%;
}

#ja-botsl .socials-list li.ico-vl { 
	display: block;
}

.product-view .product-img-box, 
.product-view .product-img-box .product-image,
.product-view .product-img-box .product-image img { width: 250px; height: 166px !important }

.product-essential .product-shop h1 {
    font-size: 24px;
    margin-top: 0;
}

.product-essential .product-shop .ratings .rating-links { margin-top:10px;}

.product-essential .product-shop .ratings .rating-links .number-rating { margin-left:0;}

.product-essential .product-shop .add-to-cart button { padding:0 20px;}

ul.ja-tab-navigator {
  border-bottom: 0;
  width:100%;
  border:1px solid #ddd;
  border-bottom:none;
  border-top:none;
}

ul.ja-tab-navigator li {
  float: none;
  border-right: 0;
  padding: 0 10px;
}

ul.ja-tab-navigator li span.arrow,
ul.ja-tab-navigator li.active span.arrow{ display:none;}

ul.ja-tab-navigator li.active {
  margin-bottom: 0;
}

ul.ja-tab-navigator li.first, 
ul.ja-tab-navigator li:first-child {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
}

ul.ja-tab-navigator li:last-child, 
ul.ja-tab-navigator li.last {
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-right-radius: 0;
}

.ja-tab-content {
  padding: 10px;
}

/* Header ---*/
h1#logo { left:12%; z-index:9999; position:absolute; top:0px; width:131px; height:33px;text-indent: -1000em; margin: 0 10px 0 10px;}
h1#logo a {
  height: 33px;
  width: 131px;
  background-resize: 0 0
}
.has-toggle .btn-toggle { width:30px !important; height:30px !important}


#ja-mainnav .btn-toggle {
    background: url("../images/icon_menu_header.png") no-repeat scroll center -2px transparent;
	
}
	
#ja-quickaccess .btn-toggle {
    background: url("../images/icon_menu_header.png") no-repeat scroll center -45px transparent;
}

#ja-mycart .btn-toggle {
    background: url("../images/icon_menu_header.png") no-repeat scroll center -85px transparent !important;
}

#ja-mycart .block { margin: 0; }

#ja-search { right: 23px !important}
#ja-search .form-search { border:1px solid #ddd; border-radius: 30px; }
#ja-search .form-search .input.input-text { border-radius: 0; }
#ja-search button.button, 
#ja-search button {
	padding: 7px 10px;
}

#ja-search .btn-toggle {
    background: url("../images/icon_menu_header.png") no-repeat scroll center -125px transparent;
}

#ja-quickaccess { right: 62px !important}

#ja-quickaccess .inner-toggle { width:110px;}

.category-products { margin: 0 -10px; }

#ja-mass-top { display:none;}

.cms-home #ja-container { margin-top:0; padding:0;}

.shop-access { float: right; width: 110px;}

#ja-botsl .block-subscribe .input-text {
    min-width: 57%;
    width: 57%;
}

#my-reviews-table tr th:nth-child(3n),
#my-reviews-table tr td:nth-child(3n) { display: none; }

#form-validate .fieldset .legend { font-size: 105%; }

.pages {
    float: right;
	width:auto;
}

.view-mode {
    float: left;
    margin: 0 !important;
    width: 42%;
	position:absolute;
}

.products-list .product-shop  .ratings .rating-links { margin-top:10px;}

.products-list .product-shop  .ratings .rating-links .number-rating { margin-left:0;}

.products-list .product-shop .desc-info .button-set button { width:80%}

#review-form input.input-text, #review-form textarea {
    width: 85%;
}

#review-form h3,
#review-form h4 { font-size:14px;}

.product-tab-box .ja-tab-content { padding:0 !important}

.data-table thead tr th, 
.data-table thead tr td { font-size:14px;}


.box-tags .form-add .button {
    margin-left: 0;
    margin-top: 10px;
}

.checkout-cart-index  #ja-container { padding-top:0;}

.shipping-form ul.form-list li .input-box { width:180px;}
.shipping-form ul.form-list li .select-box { width:215px;}
.shipping-form ul.form-list li .button { float:left; }

#billing-new-address-form .select-box {
    width: 223px;
}


#billing-new-address-form .select-box select {
    width: 200px !important;
}

.shipping-form ul.form-list li .select-box select { width:220px;}

.form-list li.wide .input-box input.input-text, 
.form-list li.wide .input-box textarea, 
.form-list li .input-box .input-text, 
.form-list li .input-box textarea {
    width: 65%;
}

#multiship-addresses-table tr th:nth-child(4n),
#multiship-addresses-table tr td:nth-child(4n) { display: none; }

#multiship-addresses-table .btn-continue { margin-left:0;}

.multiple-checkout .data-table td, .data-table th {
    padding: 2px;
    text-transform: none;
}

.sales-order-view .my-account {
    padding: 0px;
}

.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 { font-size:14px !important}
.sporty .jm-tabs-title-top ul.jm-tabs-title li h3 span {
    padding: 0 20px !important;
}

.jm-tabswrap .jm-tab-content .jm-tab-subcontent {
    background: none repeat scroll 0 0 #FFFFFF;
}

.sporty.jm-tabswrap .tabs_content {
	 height: 900px !important;
	 width: 290px !important;
	 overflow: visible !important 
}

.jm-tab-panels-top .jm-tab-content {
    width: 290px !important;
}

.jm-tabswrap .jm-tab-content ul {
    height: 850px !important;
    left: 0 !important;
    margin: 0 -1px 0 0 !important;
    padding: 0 !important;
   
}

.jm-tabswrap .jm-tab-content li {
    width: 250px !important;
	background:none;
	border-right:none;
}

.jm-slider li:hover .mass-color-inner { width:100%; }

.catalog-category-view #ja-current-content .category-products {
    margin: 0 -20px;
}

.my-account {
    padding:20px 0 ;
}

#wishlist-table th:nth-child(4), 
#wishlist-table td:nth-child(4) { display:none;}
#wishlist-table td {
    padding: 10px 5px;
}


#multiship-addresses-table.data-table th:nth-child(4), 
#multiship-addresses-table.data-table td:nth-child(4) { display:none;}

#multiship-addresses-table.data-table th:nth-child(3), 
#multiship-addresses-table.data-table td:nth-child(3) { border-right:1px solid #ddd;}

#multiship-addresses-table.data-table th,
#multiship-addresses-table.data-table td { padding:3px 5px}

.multiple-checkout .input-text.qty { padding:8px 5px}

#login-form .buttons-set a {
	float: left !important;
}

.cart .discount .discount-form .validation-advice,
.cart .discount .discount-form .input-box {
	position: static;
} 

#billing-new-address-form li.wide .input-box input.input-text, 
#billing-new-address-form li.wide .input-box textarea {
  width: 195px;
}

#shopping-cart-table th, 
#shopping-cart-table td {
  font-weight: 700;
}
.page-title { margin: 10px 0  15px; display: inline-block; }
.page-title h1 { font-size: 160% !important; }

#ja-pathway ul li { float: left; }
.review-product-list .product-essential .product-shop .add-to-cart button {
  margin: 10px 0 0 0;
  display: block;
}

#multiship-addresses-table .btn-continue {
  background: url("../images/bg-button.png") repeat-x scroll left bottom #F2F2F2;
    border-color: #E2E2E2 #CBCBCB #CBCBCB;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #E0E0E0;
    color: #666666;
    cursor: pointer;
    font-family: 'PT Sans',sans-serif !important;
    font-size: 14px !important;
    font-weight: 700;
    height: 30px;
    line-height: 28px;
    overflow: visible;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	margin: 0 10px 0 0;
}

#multiship-addresses-table button.btn-continue:hover, 
#multiship-addresses-table button.btn-continue:focus{
  background: url("../images/bg-button-hover.png") repeat-x scroll left bottom #FEFEFE;
}

#multiship-addresses-table .buttons-set .back-link {
	margin: 10px 10px 10px 0;
}
#multiship-addresses-table button.btn-update{
	padding: 0 0 0 20px;
	margin: 10px 10px 10px 0;
}
.multiple-checkout .back-link {
  float: right;
  margin: 10px 10px 10px 0;
}

#payment_form_ccsave  input.input-text {
	width: 67%;
}

#payment_form_ccsave .select-box {
  width: 165px !important;
  margin: 5px 0;
}

#payment_form_ccsave .select-box select{
  width: 210px  !important;
}

#ja-quickaccess .inner-toggle {
	width: 170px;
	padding: 20px 20px 0 20px;
}

.block-account li,
.block-account li.current {
	font-size: 12px;
}

.product-img-box .product-image-zoom img { 
	position: absolute;
}

#wishlist-table .product-image img {
  height: auto;
  width: auto;
}

.sales-billing-agreement-index .data-table tr th:nth-child(5),
.sales-billing-agreement-index .data-table tr td:nth-child(5) { display:none }
.review-product-list  ul.breadcrumbs li.product {
	display: none !important;
}

#ja-pathway { display:none;}

#ja-botsl .socials-list li.pinterest,
#ja-botsl .socials-list li.ico-vl { display:none;}

.cart-collaterals .totals ul.checkout-types {
    float: right;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}