/*
 * ------------------------------------------------------------------------
 * JM Sporty Theme for Magento 1.8
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

/* RESPONSIVE FONT SIZES
--------------------------------------------------------- */
body {
  font-size: 12px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/
}

.wrap { min-width: 100%; }

.main { width: 720px; }

.col2-set .col-2,
.col2-set .col-1 { float: none; width: 100%; }

.ja-lo-2colsl #ja-mainbody,
.ja-lo-3cols #ja-mainbody { width: 100%; }

.col3-set .col-1,
.col3-set .col-2 {
  width: 48%;
}

.col3-set .col-3 {
  width: 100%;
}

.col4-set .col-1,
.col4-set .col-2,
.col4-set .col-3 {
  width: 33.3%;
}

.col4-set .col-4 {
  width: 100%;
  margin-top: 30px;
  border-top: 1px dashed #ddd;
  padding-top: 30px;
}

#ja-wrapper { overflow: hidden; }

#ja-col1,
.ja-lo-2colsl #ja-col1 {
  width: 32%;
}

.ja-lo-3cols #ja-col1 {
  display: none;
}

#ja-col2,
.ja-lo-2colsr #ja-col2 {
  width: 32%;
}

.catalog-product-view .ja-lo-2colsr #ja-col2,
.review-product-list .ja-lo-2colsr #ja-col2 { display: none; }

#ja-main,
.ja-lo-2colsl #ja-main,
.ja-lo-2colsr #ja-mainbody,
.ja-lo-3cols #ja-mainbody {
  width: 68%;
}

.catalog-product-view .ja-lo-2colsr #ja-mainbody,
.review-product-list .ja-lo-2colsr #ja-mainbody {
  width: 100%;
} 

.ja-lo-3cols #ja-main {
  width: 100%;
}

.title-buttons h1 {
  text-align: left;
}

/* Form ---*/
.form-list li .input-box select.address-select {
  width: 100%;
}

.form-list li.wide .input-box input.input-text, .form-list li.wide .input-box textarea {
  width: 90%;
}

button.button, button {
  font-size: 12px;
  text-transform: none;
}

/* Header ---*/
#ja-header { height:59px; min-height:59px; z-index:999; position:fixed; top:0;}
#ja-header .main { width:100%;}

#ja-top { min-height: auto !important;position:fixed; right:0; width:45px; top:0; z-index:9999;}

h1#logo { left: 55px; z-index: 9999; position: absolute; top: 0; width: 153px; height: 39px;}

#ja-header .ground-menu1 { background:none; border:none; top:0; z-index:99}

#ja-container { padding-top:0}

.form-language { 
	position: absolute;
    right: 130px;
    top: 14px;
	width: 165px;
}

.form-language #select-language { position:absolute;}

.quick-access {
  right: auto;
  left: 0;
  padding: 0;
  line-height: 60px;
}

.welcome-msg {
  display: none;
}


/* Toggle ---*/
.has-toggle {
  float: right;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  width: auto !important;
}

.has-toggle .btn-toggle {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(59,59,59,1);
  border-radius:3px;
  cursor: pointer;
  text-indent:-1000em
}

.has-toggle .btn-toggle strong {
  font-weight: normal;
  display: none;
}

.has-toggle .btn-toggle.active { color: #3f739a; background-position: bottom left; }

.has-toggle .inner-toggle {
  position: absolute;
  right: 0;
  display: none !important;
  position: absolute;
  padding: 20px;
  background: #fff;
  top:57px;
  -moz-box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
}

.has-toggle .inner-toggle .arrow { display:block;}

.has-toggle .btn-toggle.active + .inner-toggle {
  display: block !important;
  top:49px;
   border: 4px solid #D80707;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  
}

.has-toggle .inner-toggleactive {
  background: #fff;
  padding: 20px;
  display: block !important;
   border: 4px solid #D80707;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.has-toggle .inner-toggle .block-account {
  padding: 0;
}

.has-toggle .inner-toggle .block-title {
  display: none;
}

.ja-tab-content {
  display: inline-block;
}

/*search*/
#ja-search {
  top: 11px !important;
  right:43px !important;
  width:40px !important; height:40px !important; border:none;
  background:none;
  border-radius:0;
}

#ja-search .btn-toggle {
    background: url(../images/icon_menu_header.png) no-repeat center bottom;
	border-radius: 0 !important;
}
#ja-search .btn-toggle.active {
    background: url(../images/icon_menu_header_active.png) no-repeat center bottom;
}
#ja-search form { margin-top:0; width:220px;}
#ja-search .form-search { border:1px solid #ddd; border-radius: 30px; }
#ja-search .form-search .input.input-text { border-radius: 0; }
#ja-search button.button, 
#ja-search button {
	padding: 7px 10px;
}

#ja-search button { top:20px; right:30px;}

#ja-search .inner {
  margin: 0;
}

/*ja-quickaccess*/
#ja-quickaccess {
    border-bottom: 0 none;
    position: absolute !important;
    right: 82px !important;
    top: 11px !important;
    z-index: 3;
}
#ja-quickaccess .btn-toggle {background: url(../images/icon_menu_header.png) no-repeat center -40px; border-radius: 3px 0 0 3px !important; }

#ja-quickaccess .btn-toggle.active { background: url(../images/icon_menu_header_active.png) no-repeat center -40px;}

#ja-quickaccess .inner-toggle { width:175px;}

.welcome-msg { display:none}

.shop-access { float: right; width: 175px;}

.shop-access li { display:block; background:none; text-transform:uppercase; font:normal 12px Arial, Helvetica, sans-serif; padding:14px 0 }
.shop-access li a, .shop-access li a:hover { color:#333 !important;}

.block-account .block-content li { display:block; text-transform:uppercase; border-bottom:none;}
.block-account .block-content li a,
.block-account .block-content li a:hover { color:#333; border-bottom:none;}
.block-account li.current { font-size:100%}

/* ja-mycart */
#ja-mycart {top:-70px !important; right:10px!important; display:block; background:none !important; height:40px; width:40px; z-index:9999;}

#ja-mycart .btn-toggle
 { background: url(../images/icon_menu_header.png) no-repeat center -80px !important;
   height:40px; 
   padding:0;
   border-radius: 0 3px 3px 0 !important;
}

#ja-mycart .btn-toggle.active {background: url(../images/icon_menu_header_active.png) no-repeat center -80px !important}

#ja-mycart .btn-toggle span { background:none;}

#ja-mycart .active + .inner-toggle { right:0; top:49px; z-index:1000}

#ja-mycartleft { display:none;}


/* Mainnav ---*/
#ja-mainnav {
  position: absolute !important; 
  top: 10px !important;
  width:40px !important;
  z-index: 5;
}

#ja-mainnav .btn-toggle {
  width:40px;
  display: block;
  height:40px;
  padding: 0;
  background: url(../images/icon_menu_header.png) no-repeat center top;
}

#ja-mainnav .btn-toggle strong {
  display: none
}

#ja-mainnav-inner {
  padding: 0;
  display: none !important;
  width: 100%;
}

/* slideshow */
#ja-mass-top { margin-top:59px;}
#ja-main #ja-mass-top { margin-top:0px; overflow:hidden;}

.jm-slide-desc h3 span.text-color1,
.jm-slide-desc h3 span.text-color2 { font-size: 70px!important;line-height: 70px!important;}

.jm-slide-desc h3 { text-shadow: 1px -1px 1px #909090 !important}

.jm-slide-desc h3 span.text-color3 { font-size: 52px!important; line-height: 52px!important;}
.jm-mask-desc .jm-slide-desc { left:0px !important}

.jm-mask-desc .readmore a { bottom:40px !important}
.jm-slide-desc-outer .jm-mask-desc { top:50px !important}

.jm-slide-main-wrap .jm-slide-thumbs-wrap { bottom:20px !important}

.jm-thumbs-bottom {
    left: 41.8% !important;
    margin-bottom: 10px;
}

/*banner */
#ja-mass-top1 {
    float: none;
    margin: -10px auto 0;
    position: relative;
    z-index: 99;
}

.block-banner ul {
    list-style: none outside none;
    margin: 0 0 0 10px;
    padding: 0;
}

.block-banner li img { width:230px; height:125px;}
	
.block-banner li { margin-right: 15px; width: 230px;}

#ja-main .inner { margin:0;}

.megamenu .childcontent-inner { width:200px !important}

/*Slider */
.container { width:720px !important;}
.container .jm-tabs-title-top { width:70% !important}

.jm-tab-panels-top .jm-tab-content { width:723px !important;}
	
.jm-tabswrap .jm-tab-content li { width:210px !important; height:240px !important}
.jm-tabswrap .jm-tab-content li img{ width: 100%; }

.jm-slider li:hover .item-slider {left:10px;width:90% !important;}

#ja-botsl .block-contact p { height:auto}

/* Top SpotLight ---*/

#ja-botsl .col-1 {
    width: 40%;
}

#ja-botsl .col-2, #ja-botsl .col-3 {
    margin: 0;
    width: 30% !important;
}

#ja-botsl .block-subscribe {
    float: right;
    line-height: 25px;
    width: 100%;
}

#ja-topsl .col-1 .block {
  min-height: 0;
}

.ctg-menu {
  padding: 30px;
}

.ctg-menu ul.products-list li a {
  text-transform: none;
}

#ja-topsl .col-3 { display: none; }

#ja-topsl .col-4 { width: 100%; margin-bottom: 20px; }

#ja-topsl .col-4 ul li a { display: inline-block; width: 105px; float: none; }

#ja-topsl .col-5 { width: 100%; }

/* Bottom Spotlight ---*/
#ja-botsl .col-3 { background-image: none; }

#ja-botsl .col-4 { min-height: 0; padding-bottom: 20px; }

/* Footer ---*/
.socail-footer {
  width: 100%;
  padding: 10px 0;
}

.socail-footer .left-content {
  margin-left: 10px;
}

.socail-footer .right-content {
  margin-right: 10px;
}

#ja-footer ul.links {
  clear: both;
  margin-top: 10px;
}

#ja-footer .jm-legal {
  margin-top: 0;
}

/* TABLE */
.data-table {
  border-collapse: separate;
  font-size: 12px;
}

.data-table td, .data-table th { padding: 5px ; text-transform: none; }

.data-table tr.last td, .data-table tr.last th {
  border-bottom: 1px solid #ddd !important;
}

colgroup col { width: 0; }

.checkout-progress li { width: 100%; }

/* Product Detail ---*/
.product-collateral {
  margin-right: 0;
}

#product-view-tabs { width: 100%; }

#ja-current-content ol.products-list .product-shop {
  float: left;
}

#ja-current-content ol.products-list .product-shop h2.product-name {
  margin-top: 10px;
}

.products-list .product-shop {
  width: 100%;
}

.products-list .product-shop .f-fix { width:100% !important; border-right:none;}
.products-list .product-shop .desc-info {width:100% !important; border-left:none; float:left; padding-left:0;}

.products-list .product-shop .desc-info .button-set { text-align:left;}
.products-list .product-shop .desc-info .button-set button { width: 40%; }
.products-list .product-shop .desc-info .add-to-links li a { margin-right:15px;}

.product-view .col2-set .col-2 { width:45%; float:right;}

.product-options-bottom .add-to-links li a {
    font-size: 11px;
    margin-right: 5px;
    padding-left: 23px;
}

.product-view .col2-set .col-1 {
    overflow: hidden;
    width: 52%;
	float:left;
}

.product-img-box .product-image-zoom img,
.product-img-box .product-image-zoom { width:380px !important; height:253px !important; top:0; left:0}

.adv-description .product-adv-box img { width:200px; height:331px;}

ul.ja-tab-navigator li a { font-size:14px; padding:0 12px;}
ul.ja-tab-navigator li.active a, ul.ja-tab-navigator li.firstactive a, ul.ja-tab-navigator li.lastactive a { font-size:14px;}



.review-product-list .product-view .col2-set .col-1 {
    float: left;
    overflow: hidden;
    width: 100%;
}

.review-product-list .product-view .col2-set .col-2 {
    float: left;
    margin-left: 5%;
    width: 90%;
}

.review-product-list  ul.ja-tab-navigator { margin: 0 15px;}

.review-product-list  .ja-tab-content {
    clear: both;
    padding: 15px;
}

#review-form input.input-text, #review-form textarea {
    width: 425px;
}

.checkout-actions .btn-update, .multiple-checkout .btn-update { margin: 0 0 0 30px;}
.multiple-checkout .col2-set .legend, .info-set .legend { padding:5px 0;}

.cart .discount .discount-form .buttons-set { float:left; width:100%}
.cart .discount .discount-form .button { padding:0 15px !important; float: left}

/* My Account ---*/
.box-account { border: 0; }

.box-account .box-head { padding: 5px 0; }

.box-account .box-head h2 { text-transform: none; }


.box-account #my-orders-table { border-left: 1px dashed #ddd; }

.box-account #my-orders-table tr th,
.box-account #my-orders-table tr td {
  padding: 5px;
  text-align: left;
  background: none !important;
}

#shopping-cart-table tr td {
  padding: 5px;
  text-align: left;
}

.my-account .box-payment {
  margin-top: 20px;
}

#my-orders-table tr th:nth-child(3n),
#my-orders-table tr td:nth-child(3n) { display: none; }

.order-items #my-orders-table tr th,
.order-items #my-orders-table tr td {
  width: auto;
}

.order-items #my-orders-table tr th:nth-child(3n),
.order-items #my-orders-table tr td:nth-child(3n) {
  display: table-column;
  width: 0;
}

#my-orders-table tr th,
#my-orders-table tr td { width: 20%; }

.box-account .col2-set { margin: 0 0 20px; }

.box-account ol#my_recent_tags, .box-account ol#my_recent_reviews { padding: 0 0 15px; }

.review-customer-view .product-review .product-img-box { float: none; }

/* Login Form ---*/
#login-form .col-1 { margin-bottom: 40px; }

/* Shopping Cart */
#shopping-cart-table thead tr { border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

#shopping-cart-table th:nth-child(4n),
#shopping-cart-table td:nth-child(4n),
#shopping-cart-table th:nth-child(5n),
#shopping-cart-table td:nth-child(5n) { display: none; }

#shopping-cart-table th:nth-child(4n+8),
#shopping-cart-table td:nth-child(4n+8) { display: table-cell; padding-left: 5px !important; }

.price { font-size: 120%; }

.cart .cart-collaterals .col2-set { width: 48%; float: left; }
.cart-collaterals .totals { width: 48% !important; float: right; }
.cart .cart-collaterals .col2-set .col-2 { width: 100%; }
.cart .crosssell { display: none; }

/* Wishlist ---*/
#wishlist-table tr th:first-child,
#wishlist-table tr td:first-child { display: none; }

/* Checkout ---*/
.multiple-checkout .col2-set .col-2, 
.info-set.col2-set .col-2,
.multiple-checkout .col2-set .col-1, 
.info-set.col2-set .col-1 {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.multiple-checkout .col2-set,
.info-set.col2-set {
  padding: 15px;
}

/* Multi Checkout ---*/
#multiship-addresses-table select {
  width: 300px;
}

/* Advanced search ---*/
.advanced-search li label {
  text-align: left;
  display: block;
  width: 85px;
}

/* JM Main Menu ---*/
.jm-megamenu ul.level0 > li.mega > a.mega { padding: 5px 15px; }
.jm-megamenu li.haschild-over .childcontent,
.jm-megamenu li.haschild:hover > .childcontent,
.jm-megamenu li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.haschild-over .childcontent,
.jm-megamenu li.mega li.mega li.mega li.mega li.mega li.haschild-over .childcontent { left: 0; /*show on parent:hover*/ }

.jm-megamenu ul.level0 > li.mega > .childcontent > .childcontent-inner-wrap > .childcontent-inner,
.jm-megamenu ul.level0 > li.mega > .childcontent > .childcontent-inner-wrap ,
.jm-megamenu ul.level0 > li.mega > .childcontent { width: 100% !important; }

.jm-megamenu .jm-product-list .products-grid li.item.last { display: none; }
.jm-megamenu .jm-product-list .products-grid.last li.item .actions { background: none; padding-bottom: 0; }
.jm-megamenu .jm-product-list .products-grid li.item .product-image a { display: block; text-align: center; }

.jm-megamenu .megacol.column4 { clear: both; width: 100% !important; }

.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column1,
.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column2,
.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner > .column3 { width: 33.3% !important; }

.jm-megamenu .cols4 > .childcontent-inner-wrap > .childcontent-inner .column3 img { max-width: 100%; }

.jm-megamenu .cols2 > .childcontent-inner-wrap > .childcontent-inner > .column2.last { width: 440px !important; }

.jm-megamenu .childcontent-inner-wrap { padding-top: 0; background: none; }

.jm-megamenu .level1 .megacol.column1,
.jm-megamenu .level1 .megacol.column2 {
  width: 50% !important;
}

/* Product List ---*/
.products-grid li.item {
  width: 50% !important;
}

.products-grid li.item.first {
  clear: none;
}

.products-grid li.item:nth-child(2n) {
  background: none;
}

#upsell-product-table.products-grid li.item:nth-child(2n) {
  background:url("../images/v-line_grid.jpg") repeat-y scroll right top transparent
}

#upsell-product-table.products-grid li.item:nth-child(3) {
  background:none;
}

.box-up-sell .products-grid {
    border: 1px solid #DDDDDD;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    height: 283px;
    margin: 0 10px;
    padding: 0;
}


.products-grid .item-row-last .actions,
.jm-product-list .products-grid.last .actions {
}

.products-grid li.item .jmquickview { display: none !important; }

.products-grid li.last { background: url("../images/v-line_grid.jpg") repeat-y scroll right top transparent;}

.toolbar .view-mode { width:25%;}
.sort-by {
    float: left;
    padding-right: 0;
    width: 45%;
}
.pages {
    float: right;
    width: 30%;
}

.toolbar .limiter {
  display: none;
}

.toolbar .pager {
  padding-right: 15px;
}

.pager .pages {
  margin: 0;
}

.truncated { display: none; }

#ja-mass-bottom .company-list {
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#ja-mass-bottom .company-list li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 108px;
}


#ja-botsl .block-subscribe .input-text {
    min-width: 80%;
    width: 80%;
}

#ja-botsl {
    font-size: 12px;
}
#ja-botsl .block-list ol li a, #ja-botsl .block-list ol li a:visited {
    font-size: 12px;
}

#ja-container .inner { margin:0;}
#ja-container .inner .category-products { margin:0 !important}

.ja-col-left #ja-mainbody { background-size:231px 100%;}

.jm-masshead { width:500px; height:185px; background-size:500px 185px; background-repeat:no-repeat}

#upsell-product-table li.item {
    border-bottom: medium none;
    width: 33.3% !important;
	height:auto;
}

.my-account .title-buttons h1 {
    clear: both;
    text-align: left;
    width: 100%;
}

.block-cart .mini-products-list li .product-name {
    font-size: 14px;
}

#my-orders-table span.nobr {
    display: block;
    text-align: left;
}

.box-account .box-head + #my-orders-table tr.last td { border-bottom:none !important}
.account-inner .pager +  #my-orders-table tr.last td { border-bottom:none !important}

.order-details #my-orders-table tfoot tr.first td {border-top:none}

.order-details #my-orders-table tfoot tr.last td { border-top:none}

.order-details #my-orders-table tfoot tr.last td { border-bottom:none !important}

#multiship-addresses-table tfoot tr.last td { border-bottom:none !important}
#multiship-addresses-table tfoot tr.first td { border-top:none}

.data-table tfoot tr.first td {
	border-bottom: 1px solid #ddd;
	border-top:none !important;
}

.data-table tfoot tr.last td {
	border-bottom:none !important
}

#checkout-review-table tfoot tr.last td {
	border-top: 0;
}

#billing-new-address-form li.wide .input-box input.input-text, 
#billing-new-address-form li.wide .input-box textarea {
  width: 55%;
}

/*box tags*/
.box-tags .form-add button.button, 
.box-tags .form-add button {
	height: auto;
	margin-left:0;
	float:right;
}


.jm-mask-desc .readmore { display:none; }

.send-friend .buttons-set .button {
    float: right;
    margin-left: 10px;
}

.box-tags .form-add .button { height:33px}

.my-wishlist .buttons-set .back-link {
    float: left;
    margin: 7px 0 0;
    text-align: left;
    width: 100px;
}

.my-wishlist .buttons-set .button {
    float: right;
    margin-bottom: 10px;
    margin-top: 0;
    width: 200px;
	margin-left:100px;
}

.product-essential .product-shop .add-to-cart button { padding:0 40px;}

.catalog-product-view #ja-container .inner .category-products {
    margin: 0 -10px !important;
}

.form-list li .input-box .input-text, .form-list li .input-box textarea {
    width: 235px;
}

.shipping-form ul.form-list li.buttons-set {
    width: 135px;
}

.cart .discount .discount-form .buttons-set, 
.cart .discount .discount-form .input-box { margin:5px 0;}
.cart-collaterals .totals ul.checkout-types { width:90%}
.cart-collaterals .totals ul.checkout-types .button {
    display: inline-block;
    float: none;
    width: 90%;
}
#billing-new-address-form li.wide .input-box input.input-text, 
#billing-new-address-form li.wide .input-box textarea {
    width: 350px;
}

.products-grid li .actions .button,
.mass-button-actions .button{ width:33%;}

.box-tags .form-add .input-box .input-text {
	padding: 7px 15px;
}