/*
 * ------------------------------------------------------------------------
 * JM Sporty Theme for Magento 1.8
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlart.com -  http://www.joomlancers.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
*/

/* MAIN CONTAINER
--------------------------------------------------------- */
.main { width: 1100px; }

.wrap { min-width: 0; }

#ja-wrapper { overflow: hidden; }

/* TABLE */
.data-table {
  border-collapse: separate;
}