img {
	border: none;
}

/* image replacement */
.graphic {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: -8000px;
}

/* // image replacement */
.jm-products-slider-listing {
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.jm-products-slider-content{
	padding: 0 !important;
	position: relative;
}

.jm-tab-subcontent p {
	margin: 0;
}

/* Easy Slider */
.jm-slider {
	float: left;
	margin: 0;
	width: 0;
}

.jm-slider ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.jm-slider li {
	border-right: 1px solid #ddd;
	display: block;
	float: left;
	margin: 0;
	padding: 30px 15px 20px;
	position: relative;
	text-align: left;
	width:239px;
}

.jm-slider li .product-title {
	border-top: 1px solid #ddd;
	color: #333;
	float: left;
	font-size: 16px;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 100%;
}

.jm-slider li .price-box .regular-price .price,
.jm-slider li .price-box .special-price .price {
	color: #111;
	font: bold 16px 'PT Sans',sans-serif;
}

.jm-slider li .price-box .old-price .price {
	color: #888;
	font: normal 16px 'PT Sans',sans-serif;
}

.jm-slider li .ratings .rating-links {
	display: none;
}

.jm-slider li .ratings .rating-box {
	margin-right: 0;
}

.jm-slider li .price-box {
	float: left;
	margin: 0;
}

.jm-slider li .ratings {
	float: right;
	margin: 4px 0 0 0;
}

.jm-slider li button,
.jm-slider li .productgaleries {
	display: none;
}

.mass-button-actions {
	background: url('../images/bg-action.png') top left repeat-x;
	border: 1px solid #d8d8d8;
	border-radius: 15px;
	box-shadow: 0 1px 5px #dbdbdb;
	clear: both;
	display: none;
	float: left;
	margin: 20px 0 0 0;
	min-height: 30px;
	width: 100%;
}


.mass-button-actions .link-wishlist {
	border-right: 1px solid #d8d8d8;
	float: left;
	min-height: 30px;
	width: 33%;
}

.mass-button-actions .link-wishlist a{
	background: url('../images/ico-wishlist.png') no-repeat 50% 50%;
	border-radius: 15px 0 0 15px;
	display: block;
	min-height: 30px;
	text-indent: -999em;
}


.mass-button-actions .link-wishlist:hover,
.mass-button-actions .link-wishlist:focus {
	background: url('../images/bg-actions-hover.png') top left repeat-x;
	border-radius: 15px 0 0 15px;
	height: 32px;
	margin: -1px 0;
}

.mass-button-actions .link-wishlist:hover a,
.mass-button-actions .link-wishlist:focus  a{
	background: url('../images/ico-wishlist-hover.png') no-repeat 50% 50%;
}


.mass-button-actions .link-compare {
	border-right: 1px solid #d8d8d8;
	float: left;
	min-height: 30px;
	width: 33%;
}

.mass-button-actions .link-compare a{
	background: url('../images/ico-compare.png') no-repeat 50% 50%;
	display: block;
	min-height: 30px;
	text-indent: -999em;
}


.mass-button-actions .link-compare:hover,
.mass-button-actions .link-compare:focus {
	background: url('../images/bg-actions-hover.png') top left repeat-x;
	border-radius: 0;
	height: 32px;
	margin: -1px 0;
}

.mass-button-actions .link-compare:hover a,
.mass-button-actions .link-compare:focus  a{
	background: url('../images/ico-compare-hover.png') no-repeat 50% 50%;
}

.mass-button-actions .button {
	background: none ;
	border: 0;
	border-radius:none;
	box-shadow:none;
	float: right;
	height: 30px;
	text-indent: -999em;
	width: 33.1%;
}

.mass-button-actions .button span {
	background: url('../images/ico-add-to-cart.png') no-repeat 50% 50%;
	display: block;
	text-indent: -999em;
}

.mass-button-actions button.button:hover, 
.mass-button-actions button.button:focus, 
.mass-button-actions button:hover, 
.mass-button-actions button:focus {
	background: url('../images/bg-actions-hover.png') top left repeat-x !important;
	border: 0;
	height: 32px;
	margin: -1px 0;
	border-radius: 0 15px 15px 0;
}

.mass-button-actions button.button:hover span,
.mass-button-actions button.button:focus span,
.mass-button-actions button:hover,
.mass-button-actions button:focus {
	background: url('../images/ico-add-to-cart-hover.png') no-repeat 50% 50%;
}



/*out stock*/

.mass-button-actions .out-of-stock {
	background: none ;
	border: 0;
	border-radius:none;
	box-shadow:none;
	float: right;
	height: 30px;
	line-height: 30px;
	text-indent: -999em;
	width: 33%;
}

.jm-slider li:hover .mass-button-actions .out-of-stock span { 
	background: url('../images/soldout-hover.png') no-repeat 50% 50%;
	display: block;
	text-indent: -999em;
}



.jm-slider li:hover .mass-button-actions .out-of-stock:hover, 
.jm-slider li:hover .mass-button-actions .out-of-stock:focus {
	background: url('../images/bg-actions-hover.png') top left repeat-x !important;
	border: 0;
	border-radius: 0 15px 15px 0;
	height: 32px;
	margin: -1px 0;
}

.jm-slider li:hover .mass-button-actions .out-of-stock:hover span,
.jm-slider li:hover .mass-button-actions .out-of-stock:focus span,
.jm-slider li:hover .mass-button-actions .out-of-stock:hover,
.jm-slider li:hover .mass-button-actions.button:focus {
	background: url('../images/soldout.png') no-repeat 50% 50%;
}

/*.jm-slider li {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}*/

.jm-slider li.beforefirstitem { background:none; border-right:none; margin-right:1px;}
.jm-slider li.lastitem { border-right:none;} 
.jm-slider li.afterlastitem { margin-left:1px; border-left:1px solid #ddd; border-right:none }

.jm-slider li .mass-color {
	background: #fff;
	display: none;
	height: 50%;
	position: absolute;
	top: 115%;
	width: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.jm-slider li:hover .item-slider,.jm-slider li.hover .item-slider {
	left: 15px;
	position: absolute;
	top: 0;
	z-index: 99;
	width:90%\0/
}

.jm-slider li:hover .mass-button-actions {
	display: inline-block;
}

.jm-slider li:hover .item-slider .product-image1 .label,.jm-slider li.hover .item-slider .product-image1 .label{
	left: -11px;
}



.jm-slider li:hover .mass-color{
	border: 0;
	display: block;
	height: 120%;
	left: -1px;	
	top: -10px;	
	width: 100%;
	z-index: 2px;
	background: #fff;
}

.jm-slider li:hover .mass-color-inner{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	height: 110%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	width: 100% !important;
	background: #fff;
	margin: 0 !important;
}

.jm-slider li.firstitem:hover .mass-color{
	border: 0;
	display: block;
	height: 120%;
	left: -1px;	
	top: -10px;	
	width: 100%;
	z-index: 2px;
	background: #fff;
}


.jm-slider li.firstitem:hover .mass-color-inner{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	height: 110%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	width: 98% !important;
	background: #fff;
	margin: 0 5px !important;
}

.jm-slider li.lastitem:hover .mass-color{
	border: 0;
	display: block;
	height: 120%;
	left: 0;	
	top: -10px;	
	width: 100%;
	z-index: 2px;
	background: #fff;
}


.jm-slider li.lastitem:hover .mass-color-inner{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	height: 110%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	width: 98% !important;
	background: #fff;
	margin: 0 !important;
}



.jm-slider li:hover,.jm-slider li.hover {
	z-index: 999;
	border: 0;
	
}

.jm-slider li:hover .productcolors,.jm-slider li.hover .productcolors {
	display: none;
}

.jm-slider li:hover button,
.jm-slider li:hover .productgaleries,.jm-slider li.hover button,.jm-slider li.hover .productgaleries{
	display: block;
}



.jm-prev {
	position: absolute;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 999;
	top: -60px;
	background: url('../images/re-left.png') top left no-repeat;
}

.jm-prev:hover,
.jm-prev:focus {
	background-image: url('../images/re-left-hover.png');
}

.jm-next {
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 999;
	top: -60px;
	background: url('../images/re-right.png') top left no-repeat;
}
.jm-next:hover,
.jm-next:focus {
	background-image: url('../images/re-right-hover.png');
}

.jm-prev .jm-slide-left-img,
.jm-next .jm-slide-right-img{
	display: none;
}



/* scroller */
.has-hscrollbar {
	padding-bottom: 30px;
}

.customScrollerContainer {
}

.customScrollerContent {
}

/* SCROLLER STYLE */
/* VERTICAL */
.divVScrollerBar {
	margin-left: 1px;
	width: 18px;
}

/* ORIZONTAL */
.divOScrollerBar {
	height: 18px;
	margin-top: 1px;
}

/* AREA UP */
.divVScrollerBarUp {
	cursor: pointer;
	height: 17px;
}

/* AREA LEFT */
.divOScrollerBarLeft {
	cursor: pointer;
	width: 17px;
}

/* AREA DOWN */
.divVScrollerBarDown {
	cursor: pointer;
	height: 17px;
}

/* AREA RIGHT */
.divOScrollerBarRight {
	cursor: pointer;
	width: 17px;
}

/* ARROW UP AND DOWN */
.divVScrollerBarUp span,
.divVScrollerBarDown span {
	border: 1px solid #dae4eb;
	display: block;
	font-size: 0;
	height: 15px;
	line-height: 0;
	width: 16px;
}

.divVScrollerBarUp span {
	background: #baccda url(../images/vtop.gif) no-repeat center center;
}

.divVScrollerBarDown span {
	background: #baccda url(../images/vbottom.gif) no-repeat center center;
}

/* ARROW LEFT AND RIGHT */
.divOScrollerBarLeft span,
.divOScrollerBarRight span {
	display: block;
	font-size: 0;
	height: 16px;
	line-height: 0;
	width: 15px;
}

.divOScrollerBarLeft span {
	background: #ffffff url(../images/re-left.png) no-repeat center center;
}

.divOScrollerBarRight span {
	background: #ffffff url(../images/re-right.png) no-repeat center center;
}

/* ARROWS HOVER */
.divVScrollerBarUp span.hover,
.divOScrollerBarLeft span.hover,
.divVScrollerBarDown span.hover,
.divOScrollerBarRight span.hover {
	background-color: #527fa2;
}

/* TRACE */
.divVScrollerBarTrace, .divOScrollerBarTrace {
	background: url(../images/line.gif) repeat-x left center;
	font-size: 0;
	line-height: 0;
}

/* CURSORS */
.divVScrollerBarCursor {
	cursor: pointer;
}

.divOScrollerBarCursor {
	cursor: pointer;
}

.divVScrollerBarCursor span {
	background: #baccda url(../images/vcursor.gif) no-repeat center center;
	border-left: 1px solid #dae4eb;
	border-right: 1px solid #dae4eb;
	display: block;
	font-size: 0;
	height: 100%;
	line-height: 0;
	width: 16px;
}

.divOScrollerBarCursor span {
	background: #cccccc url(../images/ocursor.gif) no-repeat center center;
	border-bottom: 1px solid #dae4eb;
	border-top: 1px solid #dae4eb;
	display: block;
	font-size: 0;
	height: 10px;
	margin-top: 3px;
	width: 100%;
}

/* CURSORS HOVER */
.divVScrollerBarCursor span.hover {
	background-color: #527fa2;
	border-left: 1px solid #a3bbce;
	border-right: 1px solid #a3bbce;
}

.divOScrollerBarCursor span.hover {
	background-color: #cccccc;
	border-bottom: 1px solid #a3bbce;
	border-top: 1px solid #a3bbce;
}
