.postWrapper {
    float: left;
    padding-bottom: 25px;
    /* clear: both; */
    margin-left: 0%;
    margin-right: 1%;
    /*margin-right: 40%;*/
    /*After shit*/
    margin-top: 0;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    /* float: left; */
    text-align: center;
    padding: 0;
    width: 23%;
}

.post-view .postWrapper {
    width: 70%;
    margin: 0;
    border: 0;
    text-align: left;
}

.postImage {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 223px;
    overflow: hidden;
}

.postImage img {
    height: 100%;
    width: 100%;
    vertical-align: top;
    margin-top: -3%;
}

.blogPageImage {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 400px;
    overflow: hidden;
}

.blogPageImage img {
    height: auto;
    width: 100%;
    vertical-align: top;
    margin-top: -3%;
}

.postImageRealted{
    width: 40%;
    position: relative;
    display: inline-block;
    margin-left: -24%;
    height: auto;
}

.postImageRealted img{
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.postTitleRelated{
    position: relative;
    display: inline-block;
    margin-left: 2%;
}

.lineMeLago{
    width: 92%;
    margin-left: 7%;
}

.postTitle {
    /*border-bottom-width: 1px;*/
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    margin-bottom: 15px;
    margin-top: 10px;
}

.postTitle h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.postTitle h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.postTitle h3 {
    font-size: 10px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
}

.postContent {
    padding-bottom: 10px;
}

.postContent ul{
    list-style: disc outside;
    margin-bottom: 1.5em;
}

.postContent ul li{
    margin-left: 2em;
}

.postContent ol{
    list-style: decimal outside;
    margin-bottom: 1.5em;
}

.postContent ol li{
    margin-left: 2em;
}

.postDetails {

}

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.postBookmarks a.bm {
    display: inline-block;
}

.postBookmarks img {
    display: inline;
}

.commentWrapper {
    padding-bottom: 15px;
}

.commentTitle {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

.commentTitle div {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #0a263c;
    line-height: 1.35;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {
    font-weight: bold;
    padding-bottom: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 5px 9px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    font-size: 11px;
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {
    font-size: 11px;
}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {
    background-image: url(../images/icon_blog.png);
    background-repeat: no-repeat;
    padding-left: 21px;
    text-align: left;
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest .title {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.35;
    margin: 0 0 5px;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px;
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.relatedPost{
    display: inline-block;
    float: left;
    width: 30%;
}