/*------------------------------------------------------------------------
# JA Mootabs css 1.0 - June, 2008
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
-------------------------------------------------------------------------*/

.jm-tabswrap { margin: 0; padding: 0; }

.jm-tabswrap .container {
	display: none;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.jm-tabswrap .jm-tab-content ul { margin: 0 -1px 0 0 !important; padding: 0 !important; }

.jm-tabswrap .jm-tab-content li {/* padding: 4px 10px 6px 10px; */}

.jm-tabswrap .jm-tab-content .jm-tab-subcontent { 
	/*padding: 4px 10px 6px 10px;*/ 
	background:#fff; 
	border:1px solid #ddd;
	border-radius:0.5em;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	margin:0;
}


/* TAB TOP --------------------------- */
.jm-tabs-title-top { position: relative; z-index: 10; }

.jm-tabs-title-top ul.jm-tabs-title { margin: 0; padding: 0; position: absolute; width: auto !important; border-radius: 5px 5px 5px 5px; box-shadow: 2px 2px 2px #EFEFEF;}

* html .jm-tabs-title-top ul.jm-tabs-title { bottom: -1px; /*IE 6*/ }

.jm-tabs-title-top ul.jm-tabs-title li {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.jm-tab-panels-top {
	bottom: 0;
	clear: both;
	height: 57px;
	left: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}


/* TAB LEFT --------------------------- */
.jm-tabs-title-left { float: left; }

.jm-tabs-title-left ul.jm-tabs-title { left: 0; margin: 0; padding: 0; top: 10px; width: 100%; }

.jm-tabs-title-left ul.jm-tabs-title li {
	cursor: pointer;
	display: block;
	margin: 0 0 0 1px;
	padding: 0;
}

.jm-tab-panels-left {
	height: 98%;
	left: 10px;
	overflow: hidden;
	position: relative;
	top: 5px;
}


/* TAB RIGHT --------------------------- */
.jm-tabs-title-right { float: right; height: 100%; position: relative; }

.jm-tabs-title-right ul.jm-tabs-title {
	margin: 0;
	padding: 0;
	right: 0;
	top: 10px;
	width: 100%;
}

.jm-tabs-title-right ul.jm-tabs-title li {
	cursor: pointer;
	display: block;
	margin: 0 0 0 1px;
	padding: 0;
}

.jm-tab-panels-right {
	height: 98%;
	overflow: hidden;
	position: relative;
	top: 5px;
}

/* TAB BOTTOM --------------------------- */
.jm-tabs-title-bottom { }

.jm-tabs-title-bottom ul.jm-tabs-title { margin: 0; padding: 0; position: absolute; }

* html .jm-tabs-title-bottom ul.jm-tabs-title { top: -1px; /*IE 6*/ }

.jm-tabs-title-bottom ul.jm-tabs-title li {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.jm-tab-panels-bottom {
	clear: both;
	left: 10px;
	overflow: hidden;
	position: relative;
	right: 0;
	top: 0;
	width: 98%;
	z-index: 1;
}